<!-- Site footer -->
<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h6>About</h6>
                <p class="text-justify">ผู้นำด้านการพัฒนาโครงการอสังหาริมทรัพย์ ที่เชี่ยวชาญในการจัดสรรพื้นที่ใช้สอย เพื่อตอบสนองทุกไลฟ์สไตล์ด้านที่อยู่อาศัยสำหรับคนเมือง ก่อตั้งเมื่อปี พ.ศ.2534 โดย คุณอนุพงษ์ อัศวโภคิน และ คุณพิเชษฐ วิภวศุภกร
                    ในฐานะผู้ถือหุ้นใหญ่เข้าจดทะเบียนในตลาดหลักทรัพย์เมื่อปี พ.ศ. 2543 และ และอยู่ในกลุ่มดัชนี SET100 บริษัทฯมีการเติบโตอย่างรวดเร็วและมั่นคง</p>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>AP Group Link</h6>
                <ul class="footer-links">
                    <li><a href="http://www.apthai.com" target="_blank" rel="noopener noreferrer">AP Thailand</a></li>
                    <li><a href="http://www.bkkcitismart.com" target="_blank" rel="noopener noreferrer">Bangkok Citismart</a></li>
                    <li><a href="http://www.smartservice.co.th" target="_blank" rel="noopener noreferrer">Smart Service</a></li>
                </ul>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Quick Links</h6>
                <ul class="footer-links">
                    <li><a href="tel:022612518">ไอที Tel. 0-2261-2518 Ext 647</a></li>
                    <li><a href="tel:022612518">บัญชี Tel. 0-2261-2518 Ext 517</a></li>
                    <li><a href="tel:022612518">อื่นๆ Tel. 0-2261-2518 Ext 615</a></li>
                    <li><a href="https://drive.google.com/file/d/1G7OSovkXe7SwLTUeO9amuAPgVUuKVZv7" target="_blank">นโยบายความเป็นส่วนตัว</a></li>
                    <li><a href="https://drive.google.com/file/d/1zy1--ap6JJ9LJYbc9GWHOdkvxz7w2xxM" target="_blank">ข้อตกลงและเงื่อนไข</a></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">Copyright &copy; 2019 All Rights Reserved by v1.0.0
                    <a href="https://www.apthai.com/th/home">APThai.com</a>.
                </p>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="social-icons">
                    <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                    <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
