<mat-dialog-content>
    <div class="d-flex justify-content-between m-3">
        <h5>List of Required Documents</h5>
        <!-- <button
            mat-button
            (click)="onClose()"
        >
            <mat-icon>close</mat-icon>
        </button> -->

        <a
            mat-icon-button
            color="warn"
            (click)="onClose2()"
            
        >
            <mat-icon>close</mat-icon>
        </a>
    </div>
    <div class="container">
        <input
            type="file"
            #file
            style="display: none"
            (change)="onFilesAdded()"
            accept=".jpg,.png,.jpeg"
            multiple
        />
        <div
            class="container"
            fxLayout="column"
            fxLayoutAlign="space-evenly stretch"
        >
            <!-- <h1 mat-dialog-title>Upload Document Files</h1> -->
            <!-- <ul class="list-group collapse">
                <li class="list-group-item active">เอกสารประกอบการพิจารณา</li>
                <li class="list-group-item">1.บัตรประชาชน (กรณีคนไทย) หรือ หนังสือเดินทาง Passport (กรณีชาวต่างชาติ)
                    <span style="font-weight:bold;color:red">ของผู้ถือกรรมสิทธิ์ร่วมทุกท่าน</span> / 
                    <br> 
                    <span style="font-weight:bold;color:black;font-size:small;">
                        Valid Passport copy and co-ownership's passport copy(if any).
                    </span>
                </li>
                <li class="list-group-item">
                    2.หน้าสมุดบัญชีเงินฝาก (ออมทรัพย์) เช่น Kbank,SCB,BBL,BAY,KTB เป็นต้น / 
                    <br> 
                    <span style="font-weight:bold;color:black;font-size:small;">
                    Thai Bank passbook or overseas bank passbook or e-statement which shown Customer name and bank account number.
                    </span>
                </li>
                <li class="list-group-item">
                    3.เอกสารใบเปลี่ยนชื่อตัว - ชื่อสกุล (ถ้ามี) / 
                    <span style="font-weight:bold;color:black;font-size:small;">
                    Change name certificate(if any).
                    </span>
                </li>
                <li class="list-group-item">
                    4.กรณีผู้ถือกรรมสิทธิ์เป็นชาวต่างชาติและต้องการให้โอนเงินเข้าบัญชีของตนเองในต่างประเทศ
                    ต้องกรอกแบบฟอร์มการขอโอนเงินไปต่างประเทศให้ครบถ้วน / <br>
                    <span style="font-weight:bold;color:black;font-size:small;">
                    In case request AP to transfer refund to Overseas bank account,please fill in 'Global Outward Application From'  
                    </span> 
                    <a
                        href="https://drive.google.com/open?id=1ftq6p_x5jLASov7emV9ijwUyB-4J56WY"
                        target="_blank"
                    >download</a>
                </li>
            </ul> -->

            <ul class="list-group collapse">
                <li class="list-group-item active" style="font-weight: bold;font-size:18px;">เอกสารประกอบการพิจารณา/
                    <span style="font-weight: bold;color:white;font-size:18px;">Required documents with signature on each page</span>
                </li>

                <!-- <div>1</div> -->
                <li class="list-group-item list-group-item-info">กรณีคนไทยและโอนเงินคืนเข้าธนาคารภายในประเทศไทย/<br>
                    <span style="color:black;font-size:15px;">Thai citizen who requests AP to transfer a refund to Thai bank account</span></li>
                <li class="list-group-item">1.บัตรประชาชนของผู้ถือกรรมสิทธิ์ร่วมทุกท่าน
                    <span style="color:red"></span>
                    <br> 
                    <span style="color:black;font-size:15px;">
                        Copy of a valid ID card (for Thai citizen) and a valid passport (for non-Thai citizen) 
                    </span>
                    <span style="color:red;font-size:15px;">
                        of all co-owners
                    </span>
                </li>
                <li class="list-group-item">
                    2.หน้าสมุดบัญชีธนาคารในประเทศไทย ประเภทออมทรัพย์ 
                    <span style="font-weight:bold;color:red"> (โดยชื่อบัญชีธนาคารต้องเป็นผู้ถือกรรมสิทธิ์เท่านั้น) / </span>
                    <br> 
                    <span style="color:black;font-size:16px;">
                        Copy of a valid Thai bank savings passbook required to show the owner's name and bank account number
                    </span>
                </li>
                <li class="list-group-item">
                    3.เอกสารใบเปลี่ยนชื่อตัว - ชื่อสกุล (ถ้ามี)/<br>
                    <span style="color:black;font-size:15px;">
                        Copy of a change of name certificate (If any)
                    </span>
                </li>

                <!-- <div>2</div> -->
                <li class="list-group-item list-group-item-info">กรณีชาวต่างชาติและโอนเงินคืนเข้าธนาคารภายในประเทศไทย/<br>
                    <span style="color:black;font-size:15px;">Non-Thai citizen who requests AP to transfer a refund to Thai bank account</span></li>
                <li class="list-group-item">1.หนังสือเดินทาง Passport ของผู้ถือกรรมสิทธิ์ร่วมทุกท่าน/
                    <span style="color:red"></span>
                    <br> 
                    <span style="color:black;font-size:15px;">
                        Copy of a valid passport of all co-owners
                    </span>
                </li>
                <li class="list-group-item">
                    2.หน้าสมุดบัญชีธนาคารในประเทศไทย ประเภทออมทรัพย์
                    <span style="font-weight:bold;color:red"> (โดยชื่อบัญชีธนาคารต้องเป็นผู้ถือกรรมสิทธิ์เท่านั้น) / </span>
                    <br> 
                    <span style="color:black;font-size:16px;">
                        Copy of a valid Thai bank savings passbook required to show the owner's name and bank account number
                    </span>
                </li>
                <li class="list-group-item">
                    3.เอกสารใบเปลี่ยนชื่อตัว - ชื่อสกุล (ถ้ามี)/<br>
                    <span style="color:black;font-size:15px;">
                        Copy of a change of name certificate (If any)
                    </span>
                </li>

                <!-- <div>3</div> -->
                <li class="list-group-item list-group-item-info">กรณีชาวต่างชาติและโอนเงินคืนเข้าธนาคารต่างประเทศ/<br>
                    <span style="color:black;font-size:15px;">Non-Thai citizen who requests AP to transfer a refund to overseas bank account</span></li>
                <li class="list-group-item">1.หนังสือเดินทาง Passport ของผู้ถือกรรมสิทธิ์ร่วมทุกท่าน/
                    <span style="color:red"></span>
                    <br> 
                    <span style="color:black;font-size:15px;">
                        Copy of a valid passport of all co-owners
                    </span>
                </li>
                <li class="list-group-item">
                    2.หน้าบัญชีธนาคารต่างประเทศ หรือ statement ที่เห็นชื่อธนาคารหรือเลขที่บัญชี
                    <span style="font-weight:bold;color:red"> (โดยชื่อบัญชีธนาคารต้องเป็นผู้ถือกรรมสิทธิ์เท่านั้น) / </span>
                    <br> 
                    <span style="color:black;font-size:16px;">
                        Copy of a valid overseas passbook or e-statement required to show the owner’s name and bank account number
                    </span>
                </li>
                <li class="list-group-item">
                    3.อ.ช. ๒๓ (สัญญาซื้อขายห้องชุด)/<br>
                    <span style="color:black;font-size:15px;">
                        Copy of Or Chor 23 'Agreement To Purchase And To Sell Condominium Unit(s)'
                    </span>
                    <a href="https://happyrefund.apthai.com/datashare/happyrefundcs/printform.pdf" target="_blank"
                    (click)="onclick()"
                    >example</a>
                </li>
                <li class="list-group-item">
                    4.ต้องกรอกแบบฟอร์มการขอโอนเงินไปต่างประเทศให้ครบถ้วน/<br>
                    <span style="color:black;font-size:15px;">
                        Please fill up 'Global Outward Application Form' completely.
                    </span>
                    <a href="https://drive.google.com/open?id=1ftq6p_x5jLASov7emV9ijwUyB-4J56WY" target="_blank"
                    (click)="onclick()"
                    >download</a>
                </li>
                
            </ul>

            <br>
            <div class="form-row">
                <div class="col-md-6 col-12">
                    <label for="exampleSelec">บัญชีธนาคารลูกค้า / Customer Bank Name<span style="color:red;font-size:14px;">*</span></label>
                    
                        <select
                            required
                            type="text"
                            class="form-control"
                            name="dl"
                            #dl="ngModel"
                            [(ngModel)]="bankName"
                            placeholder="กรุณากรอกบัญชีธนาคาร"
                            (change)="changdropdown()"
                        >
                            <option
                                *ngFor="let dl of listItems"
                                [ngValue]="dl"
                            >{{ dl.playlistbankname}}
                            </option>
                        </select>
                </div>

                <div class="col-md-6 col-12">
                    <label for="exampleSelec">สาขาธนาคารลูกค้า / Customer Bank Branch<span style="color:red;font-size:14px;">*</span></label>
                    
                    <ng-select 
                        name="bankbranch"
                        [items]="listBankBranch"
                        bindLabel="bankBranchName"
                        dropdownPosition="show"
                        [(ngModel)]="bankbranch" 
                        *ngIf="(bankName.bankno !== '999' && (bankName&&bankName.bankno))&&(listBankBranch.length>0)"
                        >
                    </ng-select>
                    <ng-select 
                        name="bankbranch"
                        [items]="listBankBranch"
                        bindLabel="bankBranchName"
                        dropdownPosition="show"
                        [(ngModel)]="bankbranch" 
                        *ngIf="(bankName.bankno === '999' || !(bankName&&bankName.bankno))||(listBankBranch.length === 0 && bankName.bankno !== '999')"
                        disabled>
                    </ng-select>
                    
                </div>
            </div>
            <!-- <div class="form-row"> -->
                <span style="color:blue;font-size:10px;">&nbsp;
                    *กรณีไม่มีสาขาให้เลือก กรุณาเลือกเป็น สำนักงานใหญ่/If there's no bank branch that you want, please select Head Office.
                </span><br>
                <span style="color:blue;font-size:10px;">&nbsp;
                    *กรณีที่เลือก INTERBANK ไม่ต้องเลือกสาขา/For an overseas bank account, no need to choose a bank branch.
                </span>
            <!-- </div> -->
            <br><br>
            <div class="form-row">
                <div class="col-md-6 col-12">
                    <label for="exampleSelec">เลขที่บัญชีลูกค้า / Customer Bank Account Number<span style="color:red;font-size:14px;">*</span></label>
                    
                    <input
                        type="text"
                        class="form-control"
                        name="bankaccountno"
                        #bankaccountno="ngModel"
                        [(ngModel)]="bankAccountNo"
                        placeholder="กรุณากรอกเลขบัญชี/Please fill in Bank Account Number"
                        (change)="changeBankAccNo()"
                    >
                </div>
                <div class="col-md-6 col-12">
                    <label for="exampleSelec">ชื่อบัญชีลูกค้า / Bank Account Name<span style="color:red;font-size:14px;">*</span></label>
                    
                    <select
                        required
                        type="text"
                        class="form-control"
                        name="bankaccountname"
                        #bankaccountname="ngModel"
                        [(ngModel)]="bankAccountName"
                        [value]="bankAccountName"
                        placeholder="กรุณากรอกชื่อบัญชีลูกค้า"
                    >
                        <option
                            *ngFor="let dl of listItemsBankName"
                            [value]="dl"
                        >{{ dl }}</option>
                    </select>
                </div>
            </div>
            <div>
                <br>
                <label class="text-danger">
                    <span style="color:blue;font-size:12px;">
                    *ไฟล์ที่สามารถส่งมาได้ เฉพาะนามสกุล JPG, JPEG, PNG เท่านั้น และห้ามตั้งชื่อ file เป็นภาษาไทย/</span></label>
                    
                    <br>
                    <span style="color:blue;font-size:12px;">
                        Only JPG, JPEG, PNG files and filenames not containing any Thai characters are allowed.
                    </span><br>
                <button
                    [disabled]="uploading || uploadSuccessful"
                    mat-raised-button
                    color="primary"
                    class="add-files-btn"
                    style="background-color: #007bff;"
                    (click)="addFiles()"
                    accept=".jpg,.svg,.png,.jpeg"
                >
                    Add Files
                </button>
                
            </div>
            <mat-dialog-content fxFlex>
                <mat-list>
                    <mat-list-item *ngFor="let file of files">

                        <h4 mat-line>{{file.name}}</h4>

                        <mat-progress-bar
                            *ngIf="progress"
                            mode="determinate"
                            [value]="progress[file.name].progress | async"
                        ></mat-progress-bar>

                    </mat-list-item>
                </mat-list>
            </mat-dialog-content>
            <mat-dialog-actions
                class="actions"
                *ngIf="showButton"
            >
                <button
                    *ngIf="showCancelButton"
                    mat-button
                    mat-dialog-close
                    class="add-files-btn"
                    style="background-color: #f44336; color: white;"
                >Cancel</button>
                <button
                    mat-raised-button
                    color="primary"
                    [disabled]="!canBeClosed"
                    (click)="openDialog()"
                    *ngIf="!confirmed"
                    class="add-files-btn"
                    style="background-color: #1e7e34;"
                >{{primaryButtonText}}</button>

                <button
                    mat-raised-button
                    color="primary"
                    *ngIf="confirmed"
                    (click)="onClose()"
                    class="add-files-btn"
                    style="background-color: #1e7e34;"
                    [disabled]="busy"
                >
                Submit</button>
            </mat-dialog-actions>
        </div>
    </div>
</mat-dialog-content>