<mat-dialog-content>
    <!-- <div class="d-flex justify-content-between m-3">
        <h5>Document Upload</h5>
        <button mat-button (click)="onClose()">
            <mat-icon>close</mat-icon>
        </button>
    </div> -->
    <iframe width="560" height="315" src="https://www.youtube.com/embed/dp-l-IgEEjM" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <!-- <mat-dialog-actions align="end">
            <button mat-button mat-dialog-close>Close</button>
        </mat-dialog-actions> -->
    <!-- </div> -->
</mat-dialog-content>
