<div  style="width: 200px;"></div>
<div class="d-flex justify-content-between m-3">
    <h5>List of Uploaded Documents</h5>
    <button mat-button (click)="onClose()">
        <mat-icon>close</mat-icon>
    </button>
</div>
<div class="container">
    <mat-table [dataSource]="listData" matSort>
        <mat-header-row *matHeaderRowDef="displayedColumn"></mat-header-row>
        <mat-row *matRowDef="let row; columns:displayedColumn;"></mat-row>


        <ng-container matColumnDef="View-Delete">
            <mat-header-cell *matHeaderCellDef>Delete</mat-header-cell><!--  -->
            <mat-cell *matCellDef="let row">
                
                <!-- <button mat-icon-button (click)="onView(row)">
                    <mat-icon>zoom_in</mat-icon>
                </button> -->
                
                <button mat-icon-button (click)="onDelete(row)" 
                [disabled]="appv_flag === 'A'">
                    <mat-icon>delete_outline</mat-icon>
                </button>
 
            </mat-cell>
        </ng-container>

        <!-- <ng-container matColumnDef="img_id">
            <mat-header-cell *matHeaderCellDef mat-sort-header>img_id</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.img_id}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="img_ref_contact_refund">
            <mat-header-cell *matHeaderCellDef mat-sort-header>img_ref_contact_refund</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.img_ref_contact_refund}}</mat-cell>
        </ng-container> -->
<!-- 
        <ng-container matColumnDef="img_seqn">
            <mat-header-cell *matHeaderCellDef mat-sort-header>ลำดับภาพ</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.img_seqn}}</mat-cell>
        </ng-container> -->

        <ng-container matColumnDef="img_name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Filenames</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.img_name}}</mat-cell>
        </ng-container>

        <!-- <ng-container matColumnDef="img_url">
            <mat-header-cell *matHeaderCellDef mat-sort-header>img_url</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.img_url}}</mat-cell>
        </ng-container> -->

        <ng-container matColumnDef="creatdate">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Date Uploaded</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.createdate | date : 'dd/MM/yyyy'}}</mat-cell>
        </ng-container>
    </mat-table>
</div>
