.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
}

.mat-raised-button {
    font-family: AP-Regular;
}

.input-group {
    width: 300px;
}

.justify-content-between {
    font-family: AP-Regular;
    font-weight: 600;
}

.container {
    font-family: AP-Regular;
}

.mat-radio-button {
    font-family: AP-Regular;
}

mat-table{
    font-size:8px;
    font-family: AP-Regular;
    color: #1a084c;
    overflow:auto;
}

mat-header-cell {
    font-size:13px;
    font-family: AP-Bold;
    background-color: gray;
    color: white;
    overflow:auto;
}

mat-cell {
    font-size:12px;
    font-family: AP-Regular;
}
.mat-column-View-Delete{
    flex: 0 0 25%;
 }
 .mat-column-img_name{
    flex: 0 0 47%;
    text-align: left;
 }
.mat-dialog-container {
    padding: 24px;
    width: 60%;
    height: 100%;
}
