
<h2 mat-dialog-title>ข้อตกลงและเงื่อนไข/Terms and Conditions</h2>
<span style="color:red;font-size:16px;">
  **กรุณาคลิกอ่านรายละเอียด/Please click on 'Show details'!
</span>
<br>
<br>
<mat-dialog-content class="mat-typography">

  <details>
  <summary style="font-size: 18px;">รายละเอียด</summary>
  <!-- <h3>ข้อตกลงและเงื่อนไขการใช้บริการเว็บไซต์ของ บริษัท เอพี (ไทยแลนด์) จำกัด (มหาชน) (“เอพี”)</h3> -->
  <h3>ข้อตกลงและเงื่อนไขการใช้บริการเว็บไซต์ของ บริษัท เอพี (ไทยแลนด์) จำกัด (มหาชน) (&ldquo;เอพี&rdquo;) </h3>
  <p>ยินดีต้อนรับสู่เว็บไซต์ เว็บไซต์นี้ซึ่ง จัดทำขึ้นและดำเนินการโดย เอพี โดยการคลิ๊ก ตกลง ผู้เข้าเยี่ยมชมเว็บไซต์
    นี้จะต้องถูกผูกพันตามข้อตกลงและเงื่อนไขในเว็บไซต์นี้ ดังนั้นโปรดอ่าน
    ข้อตกลงและเงื่อนไขเหล่านี้ด้วยความระมัดระวังก่อนทำธุรกรรมใดๆ บนเว็บไซต์นี้ และเพื่อจุดประสงค์
    ในข้อตกลงและเงื่อนไขนี้ให้คำว่า &ldquo;เว็บไซต์&rdquo; หมายถึง เว็บไซต์และ ที่จัดทำขึ้นและดำเนินการโดย เอพี
    ซึ่งอาจจะมีการเชื่อมต่อ กับเว็บไซต์อื่นๆ ของเครือข่ายของเอพี และเว็บไซต์อื่นๆ ของบุคคลภายนอก</p>
  <p>กรุณาอ่านข้อตกลงและเงื่อนไขการใช้บริการเว็บไซต์นี้ ให้ละเอียดถี่ถ้วน ก่อนเข้าใช้งานเว็บไซต์
    คุณยอมรับข้อตกลงและเงื่อนไขนี้ก่อนเข้าใช้งานเว็บไซต์ <br />
    การใช้งานเว็บไซต์ <br />
    เว็บไซต์นี้อาจจะมีการเปลี่ยนแปลงข้อตกลงและเงื่อนไขการใช้บริการเหล่านี้เป็นครั้งคราว
    ดังนั้นผู้เข้าเยี่ยมชมเว็บไซต์นี้ ควรจะเข้ามาอ่านรายละเอียดเสมอๆ
    เพื่อช่วยให้คุณได้อัพเดตข้อมูลข้อตกลงและเงื่อนไขการใช้บริการอยู่ตลอด <br />
    นอกเหนือจากนี้ เว็บไซต์นี้ประกอบไปด้วยข้อความ, เนื้อหา, โปรแกรมทางคอมพิวเตอร์, รูปภาพ, วีดีโอ, เสียง,
    หรือภาพกราฟฟิกทั้งหลาย คุณจะต้องยอมรับว่าทุกอย่างที่แสดงอยู่บนเว็บไซต์นี้ ได้รับความคุ้มครองในด้านลิขสิทธิ์
    และทรัพย์สินทางปัญญาอื่นๆ เป็นของเอพี โดยจำกัดการเข้าใช้งาน ห้ามทำซ้ำ, แก้ไข และ/ หรือนำข้อมูล เนื้อหา,
    โปรแกรมทางคอมพิวเตอร์, รูปภาพ, วีดีโอ, เสียง, หรือภาพกราฟฟิกทั้งหลายไปเผยแพร่ที่อื่น
    โดยยังไม่ได้รับความยินยอมเป็นลายลักษณ์อักษรจากเอพี<br />
    เครื่องหมายการค้า และโลโก้ ที่แสดงอยู่บนเว็บไซต์นี้
    มีทั้งจดทะเบียนและยังไม่ได้จดทะเบียนเครื่องหมายการค้าของผู้ที่เกี่ยวข้อง
    ดังนั้นห้ามใช้เครื่องหมายการค้าดังกล่าวอย่างเคร่งครัด คุณจะต้องยอมรับว่า
    เจ้าของเครื่องหมายการค้าสามารถดำเนินคดีเกี่ยวกับการละเมิดสิทธิ์ทรัพย์สินทางปัญญาตามกฎหมายอย่างถึงที่สุด <br />
    คุณยินยอมว่าคุณจะไม่ใช้เว็บไซต์นี้ หรือบริการของเว็บไซต์ ดำเนินการใดๆ ในการรวบรวมข้อมูลของลูกค้าหรือผู้ลงโฆษณา
    <br />
    คุณยินยอมที่จะไม่กระทำการสิ่งต่างๆ เหล่านี้ ใช้ซอฟต์แวร์อัตโนมัติ (bots) , เจาะระบบฐานข้อมูล, แก้ไขดัดแปลง
    หรือการปรับเปลี่ยนการเข้าถึงข้อมูลด้วยซอฟต์แวร์อื่นๆ, การรวบรวมข้อมูลหรือการเก็บข้อมูลจากบริการของเอพี และ/
    หรือข้อมูลและบริการอื่นๆ โดยเด็ดขาด<br />
    คุณยินยอมที่จะไม่กระทำการใช้ซอฟต์แวร์ใดๆ
    ในการนำข้อมูลและบริการส่วนหนึ่งส่วนใดของเอพีไปใช้โดยไม่ได้รับอนุญาตโดยเด็ดขาด <br />
    เกี่ยวกับข้อมูลในเว็บไซต์ <br />
    เอพี ใช้ความพยายามอย่างสมเหตุสมผลในการเก็บรวบรวมข้อมูลให้ล่าสุด ถูกต้องอยู่ตลอดเวลา อย่างไรก็ตามเอพีไม่รับประกัน
    หรือรับรองความเที่ยงตรงของข้อมูล โดยเฉพาะอย่างยิ่งเอพีจะไม่ยอมรับ หรือรับผิดชอบต่อข้อผิดพลาดใดๆ
    หรือการละเลยเนื้อหาในเว็บไซต์นี้ <br />
    การจัดส่งข้อมูลในเว็บไซต์ <br />
    ข้อมูลทุกชนิดที่คุณจัดส่งให้เอพีจะถือว่าเป็นข้อมูลที่ไม่เป็นความลับ และไม่เป็นกรรมสิทธิ์แต่อย่างใด
    ทุกสิ่งที่ท่านได้จัดส่งเผยแพร่หรือโพสต์ประกาศ เอพีหรือบริษัทในเครือสามารถใช้ข้อมูลดังกล่าวโดยไม่มีเงื่อนไขใดๆ
    ทั้งสิ้น <br />
    คุณจะต้องยอมรับว่าข้อมูลที่ท่านได้โพสต์ลงเว็บไซต์เอพี ไม่ได้เป็นการละเมิดสิทธิ์จากบุคคลที่สามรวมถึง ลิขสิทธิ์,
    เครื่องหมายการค้า, ความเป็นส่วนตัว หรือสินทรัพย์ที่เป็นสิทธิส่วนบุคคลอื่น
    คุณจะต้องเป็นผู้รับผิดชอบข้อมูลทั้งหมดแต่เพียงผู้เดียว<br />
    เมื่อคุณใช้งานเว็บไซต์นี้คุณจะต้องยินยอมให้ และ/ หรือเอพีรวบรวมข้อมูลเกี่ยวกับคุณและการใช้งานเว็บไซต์ของคุณ
    หรือเอพีมีสิทธิในการใช้ข้อมูลดังกล่าวตามที่ได้ระบุไว้ในนโยบายความเป็นส่วนตัวของเอพี <br />
    การเชื่อมโยงกับเว็บไซต์อื่นๆ <br />
    เว็บไซต์นี้อาจมีการเชื่อมต่อกับเว็บไซต์อื่นๆ การเชื่อมต่อนี้เพื่อช่วยให้ท่านค้นหาเว็บไซต์ บริการ และ/ หรือ
    ผลิตภัณฑ์ที่เกี่ยวข้องได้อย่างรวดเร็วและง่ายดาย เอพีไม่มีอำนาจที่จะควบคุม
    รับรองยืนยันความถูกต้องหรือความน่าเชื่อถือหรือรับผิดชอบในเนื้อหาของเว็บไซต์ของบุคคลภายนอก หรือการเชื่อมต่อใดๆ
    ที่บรรจุอยู่ในเว็บไซต์ของบุคคลภายนอก การตัดสินใจว่าบริการ และ/
    หรือผลิตภัณฑ์ที่นำเสนอผ่านเว็บไซต์เหล่านี้สอดคล้องกับวัตถุประสงค์ของท่านหรือไม่นั้น เป็นความรับผิดชอบของท่านเอง
    เอพีไม่สามารถควบคุมและจะไม่รับผิดชอบเนื้อหาของเว็บไซต์เหล่านั้นใดๆ ทั้งสิ้น
    และเอพีไม่ได้มีส่วนเกี่ยวข้องในการกำหนดถึงการรับประกันใดๆ หรือต้องรับภาระค่าเสียหายที่เกี่ยวพันกับเจ้าของ
    หรือผู้ดำเนินงานของเว็บไซต์ใดๆ (รวมทั้งความเสียหายที่เกิดจากข้ออ้างใดๆ ก็ตามที่ละเมิดลิขสิทธิ์
    หรือทรัพย์สินทางปัญญาประเภทอื่นของเว็บไซต์ของบุคคลที่สามนั้น ) <br />
    เอพีไม่อนุญาตให้ใส่ลิงก์ที่ไม่ได้รับอนุญาตในเว็บไซต์นี้ <br />
    การปฏิเสธความรับผิดและข้อจำกัดความรับผิด <br />
    คุณจะต้องยอมรับว่า เมื่อคุณเข้าใช้บริการเว็บไซต์นี้แล้ว คุณยอมรับความเสี่ยง
    คุณต้องรับผิดชอบสำหรับค่าใช้จ่ายทั้งหมดที่จะเกิดขึ้น (ถ้ามี) จากการเข้าใช้งานของคุณ เอพี, กรรมการของบริษัท,
    พนักงานหรือตัวแทนอื่นๆ จะไม่รับผิดชอบต่อความเสียหายใดๆ, ความสูญเสีย, ค่าใช้จ่าย, การเรียกร้องหรือความต้องการใดๆ
    ไม่ว่าจะโดยตรง, โดยอ้อม, การชดเชยหรือผลเสียหายที่เกิดขึ้น, ความเกี่ยวข้องกับการใช้งานเว็บไซต์นี้ของคุณ
    หรือข้อมูลเนื้อหา, ส่วนประกอบหรือผลิตภัณฑ์ที่รวมอยู่บนเว็บไซต์นี้ หลักเกณฑ์เหล่านี้อยู่ภายใต้กฎหมายของประเทศไทย
    หากเกิดข้อพิพาทใดๆ จะได้รับการแก้ไขโดยศาลยุติธรรม<br />
    การเปลี่ยนแปลงข้อตกลงและเงื่อนไข </p>
  การดำเนินของธุรกิจของเอพี ได้มีการพัฒนาอย่างต่อเนื่อง ดังนั้นนโยบายความเป็นส่วนตัว ข้อตกลงและเงื่อนไขการใช้บริการ
  รวมถึงหลักเกณฑ์ในการลงโฆษณาของเอพีอาจจะมีการเปลี่ยนแปลงอยู่เป็นครั้งคราว เอพีแนะนำให้คุณมีการตรวจสอบอย่างต่อเนื่อง
  เพื่อติดตามว่าเอพีมีการแก้ไข หรือเพิ่มข้อกำหนดใดๆ
  <p>&nbsp; </p>
  <mat-dialog-actions align="end">
    <button
      mat-button
      mat-dialog-close
      style="background-color: #f44336; color: white;"
    >ไม่ยินยอม/Disagree</button>
    <button
      mat-button
      [mat-dialog-close]="true"
      style="background-color: #1e7e34; color: white;"
      cdkFocusInitial
    >ยินยอม/Agree</button>
  </mat-dialog-actions>
</details>
<br>
<details class="mat-typography">
  <summary style="font-size: 18px;">Detail</summary>
<!-- <h3>ข้อตกลงและเงื่อนไขการใช้บริการเว็บไซต์ของ บริษัท เอพี (ไทยแลนด์) จำกัด (มหาชน) (“เอพี”)</h3> -->
<h3>ข้อตกลงและเงื่อนไขการใช้บริการเว็บไซต์ของ บริษัท เอพี (ไทยแลนด์) จำกัด (มหาชน) (&ldquo;เอพี&rdquo;) </h3>
<p>ยินดีต้อนรับสู่เว็บไซต์ เว็บไซต์นี้ซึ่ง จัดทำขึ้นและดำเนินการโดย เอพี โดยการคลิ๊ก ตกลง ผู้เข้าเยี่ยมชมเว็บไซต์
  นี้จะต้องถูกผูกพันตามข้อตกลงและเงื่อนไขในเว็บไซต์นี้ ดังนั้นโปรดอ่าน
  ข้อตกลงและเงื่อนไขเหล่านี้ด้วยความระมัดระวังก่อนทำธุรกรรมใดๆ บนเว็บไซต์นี้ และเพื่อจุดประสงค์
  ในข้อตกลงและเงื่อนไขนี้ให้คำว่า &ldquo;เว็บไซต์&rdquo; หมายถึง เว็บไซต์และ ที่จัดทำขึ้นและดำเนินการโดย เอพี
  ซึ่งอาจจะมีการเชื่อมต่อ กับเว็บไซต์อื่นๆ ของเครือข่ายของเอพี และเว็บไซต์อื่นๆ ของบุคคลภายนอก</p>
<p>กรุณาอ่านข้อตกลงและเงื่อนไขการใช้บริการเว็บไซต์นี้ ให้ละเอียดถี่ถ้วน ก่อนเข้าใช้งานเว็บไซต์
  คุณยอมรับข้อตกลงและเงื่อนไขนี้ก่อนเข้าใช้งานเว็บไซต์ <br />
  การใช้งานเว็บไซต์ <br />
  เว็บไซต์นี้อาจจะมีการเปลี่ยนแปลงข้อตกลงและเงื่อนไขการใช้บริการเหล่านี้เป็นครั้งคราว
  ดังนั้นผู้เข้าเยี่ยมชมเว็บไซต์นี้ ควรจะเข้ามาอ่านรายละเอียดเสมอๆ
  เพื่อช่วยให้คุณได้อัพเดตข้อมูลข้อตกลงและเงื่อนไขการใช้บริการอยู่ตลอด <br />
  นอกเหนือจากนี้ เว็บไซต์นี้ประกอบไปด้วยข้อความ, เนื้อหา, โปรแกรมทางคอมพิวเตอร์, รูปภาพ, วีดีโอ, เสียง,
  หรือภาพกราฟฟิกทั้งหลาย คุณจะต้องยอมรับว่าทุกอย่างที่แสดงอยู่บนเว็บไซต์นี้ ได้รับความคุ้มครองในด้านลิขสิทธิ์
  และทรัพย์สินทางปัญญาอื่นๆ เป็นของเอพี โดยจำกัดการเข้าใช้งาน ห้ามทำซ้ำ, แก้ไข และ/ หรือนำข้อมูล เนื้อหา,
  โปรแกรมทางคอมพิวเตอร์, รูปภาพ, วีดีโอ, เสียง, หรือภาพกราฟฟิกทั้งหลายไปเผยแพร่ที่อื่น
  โดยยังไม่ได้รับความยินยอมเป็นลายลักษณ์อักษรจากเอพี<br />
  เครื่องหมายการค้า และโลโก้ ที่แสดงอยู่บนเว็บไซต์นี้
  มีทั้งจดทะเบียนและยังไม่ได้จดทะเบียนเครื่องหมายการค้าของผู้ที่เกี่ยวข้อง
  ดังนั้นห้ามใช้เครื่องหมายการค้าดังกล่าวอย่างเคร่งครัด คุณจะต้องยอมรับว่า
  เจ้าของเครื่องหมายการค้าสามารถดำเนินคดีเกี่ยวกับการละเมิดสิทธิ์ทรัพย์สินทางปัญญาตามกฎหมายอย่างถึงที่สุด <br />
  คุณยินยอมว่าคุณจะไม่ใช้เว็บไซต์นี้ หรือบริการของเว็บไซต์ ดำเนินการใดๆ ในการรวบรวมข้อมูลของลูกค้าหรือผู้ลงโฆษณา
  <br />
  คุณยินยอมที่จะไม่กระทำการสิ่งต่างๆ เหล่านี้ ใช้ซอฟต์แวร์อัตโนมัติ (bots) , เจาะระบบฐานข้อมูล, แก้ไขดัดแปลง
  หรือการปรับเปลี่ยนการเข้าถึงข้อมูลด้วยซอฟต์แวร์อื่นๆ, การรวบรวมข้อมูลหรือการเก็บข้อมูลจากบริการของเอพี และ/
  หรือข้อมูลและบริการอื่นๆ โดยเด็ดขาด<br />
  คุณยินยอมที่จะไม่กระทำการใช้ซอฟต์แวร์ใดๆ
  ในการนำข้อมูลและบริการส่วนหนึ่งส่วนใดของเอพีไปใช้โดยไม่ได้รับอนุญาตโดยเด็ดขาด <br />
  เกี่ยวกับข้อมูลในเว็บไซต์ <br />
  เอพี ใช้ความพยายามอย่างสมเหตุสมผลในการเก็บรวบรวมข้อมูลให้ล่าสุด ถูกต้องอยู่ตลอดเวลา อย่างไรก็ตามเอพีไม่รับประกัน
  หรือรับรองความเที่ยงตรงของข้อมูล โดยเฉพาะอย่างยิ่งเอพีจะไม่ยอมรับ หรือรับผิดชอบต่อข้อผิดพลาดใดๆ
  หรือการละเลยเนื้อหาในเว็บไซต์นี้ <br />
  การจัดส่งข้อมูลในเว็บไซต์ <br />
  ข้อมูลทุกชนิดที่คุณจัดส่งให้เอพีจะถือว่าเป็นข้อมูลที่ไม่เป็นความลับ และไม่เป็นกรรมสิทธิ์แต่อย่างใด
  ทุกสิ่งที่ท่านได้จัดส่งเผยแพร่หรือโพสต์ประกาศ เอพีหรือบริษัทในเครือสามารถใช้ข้อมูลดังกล่าวโดยไม่มีเงื่อนไขใดๆ
  ทั้งสิ้น <br />
  คุณจะต้องยอมรับว่าข้อมูลที่ท่านได้โพสต์ลงเว็บไซต์เอพี ไม่ได้เป็นการละเมิดสิทธิ์จากบุคคลที่สามรวมถึง ลิขสิทธิ์,
  เครื่องหมายการค้า, ความเป็นส่วนตัว หรือสินทรัพย์ที่เป็นสิทธิส่วนบุคคลอื่น
  คุณจะต้องเป็นผู้รับผิดชอบข้อมูลทั้งหมดแต่เพียงผู้เดียว<br />
  เมื่อคุณใช้งานเว็บไซต์นี้คุณจะต้องยินยอมให้ และ/ หรือเอพีรวบรวมข้อมูลเกี่ยวกับคุณและการใช้งานเว็บไซต์ของคุณ
  หรือเอพีมีสิทธิในการใช้ข้อมูลดังกล่าวตามที่ได้ระบุไว้ในนโยบายความเป็นส่วนตัวของเอพี <br />
  การเชื่อมโยงกับเว็บไซต์อื่นๆ <br />
  เว็บไซต์นี้อาจมีการเชื่อมต่อกับเว็บไซต์อื่นๆ การเชื่อมต่อนี้เพื่อช่วยให้ท่านค้นหาเว็บไซต์ บริการ และ/ หรือ
  ผลิตภัณฑ์ที่เกี่ยวข้องได้อย่างรวดเร็วและง่ายดาย เอพีไม่มีอำนาจที่จะควบคุม
  รับรองยืนยันความถูกต้องหรือความน่าเชื่อถือหรือรับผิดชอบในเนื้อหาของเว็บไซต์ของบุคคลภายนอก หรือการเชื่อมต่อใดๆ
  ที่บรรจุอยู่ในเว็บไซต์ของบุคคลภายนอก การตัดสินใจว่าบริการ และ/
  หรือผลิตภัณฑ์ที่นำเสนอผ่านเว็บไซต์เหล่านี้สอดคล้องกับวัตถุประสงค์ของท่านหรือไม่นั้น เป็นความรับผิดชอบของท่านเอง
  เอพีไม่สามารถควบคุมและจะไม่รับผิดชอบเนื้อหาของเว็บไซต์เหล่านั้นใดๆ ทั้งสิ้น
  และเอพีไม่ได้มีส่วนเกี่ยวข้องในการกำหนดถึงการรับประกันใดๆ หรือต้องรับภาระค่าเสียหายที่เกี่ยวพันกับเจ้าของ
  หรือผู้ดำเนินงานของเว็บไซต์ใดๆ (รวมทั้งความเสียหายที่เกิดจากข้ออ้างใดๆ ก็ตามที่ละเมิดลิขสิทธิ์
  หรือทรัพย์สินทางปัญญาประเภทอื่นของเว็บไซต์ของบุคคลที่สามนั้น ) <br />
  เอพีไม่อนุญาตให้ใส่ลิงก์ที่ไม่ได้รับอนุญาตในเว็บไซต์นี้ <br />
  การปฏิเสธความรับผิดและข้อจำกัดความรับผิด <br />
  คุณจะต้องยอมรับว่า เมื่อคุณเข้าใช้บริการเว็บไซต์นี้แล้ว คุณยอมรับความเสี่ยง
  คุณต้องรับผิดชอบสำหรับค่าใช้จ่ายทั้งหมดที่จะเกิดขึ้น (ถ้ามี) จากการเข้าใช้งานของคุณ เอพี, กรรมการของบริษัท,
  พนักงานหรือตัวแทนอื่นๆ จะไม่รับผิดชอบต่อความเสียหายใดๆ, ความสูญเสีย, ค่าใช้จ่าย, การเรียกร้องหรือความต้องการใดๆ
  ไม่ว่าจะโดยตรง, โดยอ้อม, การชดเชยหรือผลเสียหายที่เกิดขึ้น, ความเกี่ยวข้องกับการใช้งานเว็บไซต์นี้ของคุณ
  หรือข้อมูลเนื้อหา, ส่วนประกอบหรือผลิตภัณฑ์ที่รวมอยู่บนเว็บไซต์นี้ หลักเกณฑ์เหล่านี้อยู่ภายใต้กฎหมายของประเทศไทย
  หากเกิดข้อพิพาทใดๆ จะได้รับการแก้ไขโดยศาลยุติธรรม<br />
  การเปลี่ยนแปลงข้อตกลงและเงื่อนไข </p>
การดำเนินของธุรกิจของเอพี ได้มีการพัฒนาอย่างต่อเนื่อง ดังนั้นนโยบายความเป็นส่วนตัว ข้อตกลงและเงื่อนไขการใช้บริการ
รวมถึงหลักเกณฑ์ในการลงโฆษณาของเอพีอาจจะมีการเปลี่ยนแปลงอยู่เป็นครั้งคราว เอพีแนะนำให้คุณมีการตรวจสอบอย่างต่อเนื่อง
เพื่อติดตามว่าเอพีมีการแก้ไข หรือเพิ่มข้อกำหนดใดๆ
<p>&nbsp; </p>
<mat-dialog-actions align="end">
  <button
    mat-button
    mat-dialog-close
    style="background-color: #f44336; color: white;"
  >ไม่ยินยอม/Disagree</button>
  <button
    mat-button
    [mat-dialog-close]="true"
    style="background-color: #1e7e34; color: white;"
    cdkFocusInitial
  >ยินยอม/Agree</button>
</mat-dialog-actions>
</details>



</mat-dialog-content>
