.mat-dialog-content {
    font-family: AP-Regular;
    font-size:14px;
}
h4 {
    font-family: AP-Regular;
    font-size:14px;
}

h3 {
    font-family: AP-Regular;
    font-size:16px;
}

h2 {
    font-family: AP-Bold;
    font-size:18px;
}

p {
    font-family: AP-Regular;
    font-size:12px;

}

.mat-button {
    font-family: AP-Regular;
}

:focus {

    outline-width: 0px;
}

.mat-dialog-content{
    display: block;
    padding: 24px;
    // border-radius: 4px;
    // box-sizing: border-box;
    // overflow: auto;
    // outline: 0;
    width: 104%;
    height: 100%;
    // min-height: inherit;
    // max-height: inherit;
}
// .mat-typography {
//     font-family: AP-Regular;
//     font-size:14px;
// }
