.mat-dialog-content {
    font-family: AP-Regular;
    font-size:14px;
}

h3 {
    font-family: AP-Regular;
    font-size:16px;
}

h2 {
    font-family: AP-Bold;
    font-size:18px;
}

p {
    font-family: AP-Regular;
    font-size:14px;

}


// .mat-typography {
//     font-family: AP-Regular;
//     font-size:14px;
// }
