<h2 mat-dialog-title>เงื่อนไขข้อตกลงและนโยบายความเป็นส่วนตัว<br>Privacy Policy and Terms and Conditions</h2>
<span style="color:blue;font-size:13px;">
  *กรุณาคลิก 'Thai' เพื่อดูรายละเอียด/
</span>
<span style="color:blue;font-size:12px;">
  Please click on 'English' for more details.
</span>
<br>




<mat-dialog-content class="mat-typography">
  <div>
    <details  *ngIf="showTha==true">
      <summary *ngIf="showTha==true" (click)="onShowTha()" style="font-size: 18px;">Thai</summary>
      <!-- <h3>ข้อตกลงและเงื่อนไขการใช้บริการเว็บไซต์ของ บริษัท เอพี (ไทยแลนด์) จำกัด (มหาชน) (“เอพี”)</h3> -->
      <br>
      <h4><b>ข้อตกลงและเงื่อนไขการใช้บริการเว็บไซต์ของ บริษัท เอพี (ไทยแลนด์) จำกัด (มหาชน) (“เอพี”)</b></h4>
      <p>ยินดีต้อนรับสู่เว็บไซต์ เว็บไซต์นี้ซึ่ง จัดทำขึ้นและดำเนินการโดย เอพี โดยการคลิ๊ก ตกลง ผู้เข้าเยี่ยมชมเว็บไซต์
        นี้จะต้องถูกผูกพันตามข้อตกลงและเงื่อนไขในเว็บไซต์นี้ ดังนั้นโปรดอ่าน
        ข้อตกลงและเงื่อนไขเหล่านี้ด้วยความระมัดระวังก่อนทำธุรกรรมใดๆ บนเว็บไซต์นี้ และเพื่อจุดประสงค์
        ในข้อตกลงและเงื่อนไขนี้ให้คำว่า “เว็บไซต์” หมายถึง เว็บไซต์และ ที่จัดทำขึ้นและดำเนินการโดย เอพี
        ซึ่งอาจจะมีการเชื่อมต่อ กับเว็บไซต์อื่นๆ ของเครือข่ายของเอพี และเว็บไซต์อื่นๆ ของบุคคลภายนอก</p>
      <p>กรุณาอ่านข้อตกลงและเงื่อนไขการใช้บริการเว็บไซต์นี้ ให้ละเอียดถี่ถ้วน ก่อนเข้าใช้งานเว็บไซต์
        คุณยอมรับข้อตกลงและเงื่อนไขนี้ก่อนเข้าใช้งานเว็บไซต์</p>
      <p><b>การใช้งานเว็บไซต์</b></p>
      <p>เว็บไซต์นี้อาจจะมีการเปลี่ยนแปลงข้อตกลงและเงื่อนไขการใช้บริการเหล่านี้เป็นครั้งคราว
        ดังนั้นผู้เข้าเยี่ยมชมเว็บไซต์นี้ ควรจะเข้ามาอ่านรายละเอียดเสมอๆ
        เพื่อช่วยให้คุณได้อัพเดตข้อมูลข้อตกลงและเงื่อนไขการใช้บริการอยู่ตลอด</p>
      <p>นอกเหนือจากนี้ เว็บไซต์นี้ประกอบไปด้วยข้อความ, เนื้อหา, โปรแกรมทางคอมพิวเตอร์, รูปภาพ, วีดีโอ, เสียง,
        หรือภาพกราฟฟิกทั้งหลาย คุณจะต้องยอมรับว่าทุกอย่างที่แสดงอยู่บนเว็บไซต์นี้ ได้รับความคุ้มครองในด้านลิขสิทธิ์
        และทรัพย์สินทางปัญญาอื่นๆ เป็นของเอพี โดยจำกัดการเข้าใช้งาน ห้ามทำซ้ำ, แก้ไข และ/ หรือนำข้อมูล เนื้อหา,
        โปรแกรมทางคอมพิวเตอร์, รูปภาพ, วีดีโอ, เสียง, หรือภาพกราฟฟิกทั้งหลายไปเผยแพร่ที่อื่น
        โดยยังไม่ได้รับความยินยอมเป็นลายลักษณ์อักษรจากเอพี</p>
      <p>เครื่องหมายการค้า และโลโก้ ที่แสดงอยู่บนเว็บไซต์นี้
        มีทั้งจดทะเบียนและยังไม่ได้จดทะเบียนเครื่องหมายการค้าของผู้ที่เกี่ยวข้อง
        ดังนั้นห้ามใช้เครื่องหมายการค้าดังกล่าวอย่างเคร่งครัด คุณจะต้องยอมรับว่า
        เจ้าของเครื่องหมายการค้าสามารถดำเนินคดีเกี่ยวกับการละเมิดสิทธิ์ทรัพย์สินทางปัญญาตามกฎหมายอย่างถึงที่สุด
        คุณยินยอมว่าคุณจะไม่ใช้เว็บไซต์นี้ หรือบริการของเว็บไซต์ ดำเนินการใดๆ ในการรวบรวมข้อมูลของลูกค้าหรือผู้ลงโฆษณา
      </p>
      <p>คุณยินยอมที่จะไม่กระทำการสิ่งต่างๆ เหล่านี้ ใช้ซอฟต์แวร์อัตโนมัติ (bots) , เจาะระบบฐานข้อมูล, แก้ไขดัดแปลง
        หรือการปรับเปลี่ยนการเข้าถึงข้อมูลด้วยซอฟต์แวร์อื่นๆ, การรวบรวมข้อมูลหรือการเก็บข้อมูลจากบริการของเอพี และ/
        หรือข้อมูลและบริการอื่นๆ โดยเด็ดขาด</p>
      <p>คุณยินยอมที่จะไม่กระทำการใช้ซอฟต์แวร์ใดๆ
        ในการนำข้อมูลและบริการส่วนหนึ่งส่วนใดของเอพีไปใช้โดยไม่ได้รับอนุญาตโดยเด็ดขาด</p>
      <p><b>เกี่ยวกับข้อมูลในเว็บไซต์</b></p>
      <p>เอพี ใช้ความพยายามอย่างสมเหตุสมผลในการเก็บรวบรวมข้อมูลให้ล่าสุด ถูกต้องอยู่ตลอดเวลา
        อย่างไรก็ตามเอพีไม่รับประกัน หรือรับรองความเที่ยงตรงของข้อมูล โดยเฉพาะอย่างยิ่งเอพีจะไม่ยอมรับ
        หรือรับผิดชอบต่อข้อผิดพลาดใดๆ หรือการละเลยเนื้อหาในเว็บไซต์นี้</p>
      <p><b>การจัดส่งข้อมูลในเว็บไซต์</b></p>
      <p>ข้อมูลทุกชนิดที่คุณจัดส่งให้เอพีจะถือว่าเป็นข้อมูลที่ไม่เป็นความลับ และไม่เป็นกรรมสิทธิ์แต่อย่างใด
        ทุกสิ่งที่ท่านได้จัดส่งเผยแพร่หรือโพสต์ประกาศ เอพีหรือบริษัทในเครือสามารถใช้ข้อมูลดังกล่าวโดยไม่มีเงื่อนไขใดๆ
        ทั้งสิ้น
        คุณจะต้องยอมรับว่าข้อมูลที่ท่านได้โพสต์ลงเว็บไซต์เอพี ไม่ได้เป็นการละเมิดสิทธิ์จากบุคคลที่สามรวมถึง ลิขสิทธิ์,
        เครื่องหมายการค้า, ความเป็นส่วนตัว หรือสินทรัพย์ที่เป็นสิทธิส่วนบุคคลอื่น
        คุณจะต้องเป็นผู้รับผิดชอบข้อมูลทั้งหมดแต่เพียงผู้เดียว
      </p>
      <p>เมื่อคุณใช้งานเว็บไซต์นี้คุณจะต้องยินยอมให้ และ/ หรือเอพีรวบรวมข้อมูลเกี่ยวกับคุณและการใช้งานเว็บไซต์ของคุณ
        หรือเอพีมีสิทธิในการใช้ข้อมูลดังกล่าวตามที่ได้ระบุไว้ในนโยบายความเป็นส่วนตัวของเอพี</p>
      <p><b>การเชื่อมโยงกับเว็บไซต์อื่นๆ</b></p>
      <p>เว็บไซต์นี้อาจมีการเชื่อมต่อกับเว็บไซต์อื่นๆ การเชื่อมต่อนี้เพื่อช่วยให้ท่านค้นหาเว็บไซต์ บริการ และ/ หรือ
        ผลิตภัณฑ์ที่เกี่ยวข้องได้อย่างรวดเร็วและง่ายดาย เอพีไม่มีอำนาจที่จะควบคุม
        รับรองยืนยันความถูกต้องหรือความน่าเชื่อถือหรือรับผิดชอบในเนื้อหาของเว็บไซต์ของบุคคลภายนอก หรือการเชื่อมต่อใดๆ
        ที่บรรจุอยู่ในเว็บไซต์ของบุคคลภายนอก การตัดสินใจว่าบริการ และ/
        หรือผลิตภัณฑ์ที่นำเสนอผ่านเว็บไซต์เหล่านี้สอดคล้องกับวัตถุประสงค์ของท่านหรือไม่นั้น เป็นความรับผิดชอบของท่านเอง
        เอพีไม่สามารถควบคุมและจะไม่รับผิดชอบเนื้อหาของเว็บไซต์เหล่านั้นใดๆ ทั้งสิ้น
        และเอพีไม่ได้มีส่วนเกี่ยวข้องในการกำหนดถึงการรับประกันใดๆ หรือต้องรับภาระค่าเสียหายที่เกี่ยวพันกับเจ้าของ
        หรือผู้ดำเนินงานของเว็บไซต์ใดๆ (รวมทั้งความเสียหายที่เกิดจากข้ออ้างใดๆ ก็ตามที่ละเมิดลิขสิทธิ์
        หรือทรัพย์สินทางปัญญาประเภทอื่นของเว็บไซต์ของบุคคลที่สามนั้น )
        เอพีไม่อนุญาตให้ใส่ลิงก์ที่ไม่ได้รับอนุญาตในเว็บไซต์นี้
      </p>
      <p><b>การปฏิเสธความรับผิดและข้อจำกัดความรับผิด</b></p>
      <p>คุณจะต้องยอมรับว่า เมื่อคุณเข้าใช้บริการเว็บไซต์นี้แล้ว คุณยอมรับความเสี่ยง
        คุณต้องรับผิดชอบสำหรับค่าใช้จ่ายทั้งหมดที่จะเกิดขึ้น (ถ้ามี) จากการเข้าใช้งานของคุณ เอพี, กรรมการของบริษัท,
        พนักงานหรือตัวแทนอื่นๆ จะไม่รับผิดชอบต่อความเสียหายใดๆ, ความสูญเสีย, ค่าใช้จ่าย, การเรียกร้องหรือความต้องการใดๆ
        ไม่ว่าจะโดยตรง, โดยอ้อม, การชดเชยหรือผลเสียหายที่เกิดขึ้น, ความเกี่ยวข้องกับการใช้งานเว็บไซต์นี้ของคุณ
        หรือข้อมูลเนื้อหา, ส่วนประกอบหรือผลิตภัณฑ์ที่รวมอยู่บนเว็บไซต์นี้ หลักเกณฑ์เหล่านี้อยู่ภายใต้กฎหมายของประเทศไทย
        หากเกิดข้อพิพาทใดๆ จะได้รับการแก้ไขโดยศาลยุติธรรม</p>
      <p><b>การเปลี่ยนแปลงข้อตกลงและเงื่อนไข</b></p>
      <p>การดำเนินของธุรกิจของเอพี ได้มีการพัฒนาอย่างต่อเนื่อง ดังนั้นนโยบายความเป็นส่วนตัว
        ข้อตกลงและเงื่อนไขการใช้บริการ รวมถึงหลักเกณฑ์ในการลงโฆษณาของเอพีอาจจะมีการเปลี่ยนแปลงอยู่เป็นครั้งคราว
        เอพีแนะนำให้คุณมีการตรวจสอบอย่างต่อเนื่อง เพื่อติดตามว่าเอพีมีการแก้ไข หรือเพิ่มข้อกำหนดใดๆ</p>

      <hr>
      <h4><b>นโยบายความเป็นส่วนตัว บริษัท เอพี (ไทยแลนด์) จำกัด (มหาชน)</b></h4>
      <p>เรา บริษัท เอพี (ไทยแลนด์) จำกัด (มหาชน) ถือปฏิบัติอย่างเคร่งครัดว่าเรื่องความเป็นส่วนตัวของท่านเป็นเรื่องสำคัญ
        เมื่อเราใช้ข้อมูลส่วนบุคคลของท่านในการให้ดำเนินธุรกิจและให้บริการกับท่าน
        ข้อมูลส่วนบุคคลของท่านจะได้รับการคุ้มครองตามพระราชบัญญัติคุ้มครองข้อมูลส่วนบุคคล พ.ศ. 2562
        เราในฐานะผู้คุ้มครองข้อมูลส่วนบุคคลมีหน้าที่ตามกฎหมายในการแจ้งให้ท่านทราบถึงนโยบายความเป็นส่วนตัว
        ซึ่งอธิบายถึงการเก็บรวบรวม ใช้ หรือเปิดเผยข้อมูลส่วนบุคคลของท่าน และสิทธิของท่านในฐานะเจ้าของข้อมูลส่วนบุคคล
        และเรายืนยันว่าได้ดำเนินการตามกฎหมายฉบับนี้เพื่อคุ้มครองข้อมูลส่วนบุคคลของท่าน</p>
      <p style="font-weight: bold;">1. ความหมายของข้อมูลส่วนบุคคล</p>
      <p>ข้อมูลส่วนบุคคลแบ่งออกเป็นสองประเภท ได้แก่</p>
      <p><b>ข้อมูลส่วนบุคคล (ทั่วไป)</b> หมายถึง
        ข้อมูลส่วนบุคคลของคนที่มีชีวิตอยู่ที่สามารถระบุตัวตนของบุคคลนั้นได้ไม่ว่าทางตรงหรือทางอ้อม เช่น ชื่อ นามสกุล
        ที่อยู่ email address หมายเลขบัตรประจำตัวประชาชน</p>
      <p><b>ข้อมูลส่วนบุคคลที่อ่อนไหว (Sensitive Personal Data)</b> ได้แก่
        ข้อมูลส่วนบุคคลที่ต้องได้รับการคุ้มครองเป็นพิเศษ ซึ่งจำเป็นต้องให้ความระมัดระวังเป็นพิเศษในการเก็บรวบรวม ใช้
        หรือเปิดเผยข้อมูลส่วนบุคคลประเภทนี้ เช่น ข้อมูลส่วนบุคคลเกี่ยวกับเชื้อชาติ เผ่าพันธุ์ ความคิดเห็นทางการเมือง
        ความเชื่อในลัทธิ ศาสนาหรือปรัชญาพฤติกรรมทางเพศ ประวัติอาชญากรรม ข้อมูลสุขภาพ ความพิการ ข้อมูลสหภาพแรงงาน
        ข้อมูลพันธุกรรม และข้อมูลชีวภาพ</p>
      <p style="font-weight: bold;">2. ข้อมูลส่วนบุคคลที่เราเก็บรวบรวมจากท่าน</p>
      <p>เราเก็บรวบรวมข้อมูลของท่านเมื่อ:</p>
      <p>&nbsp;&nbsp;• ท่านเข้าเว็บไซต์ของเรา</p>
      <p>&nbsp;&nbsp;• ท่านให้ข้อมูลกับเราผ่านเว็บไซต์หรือแอปพลิเคชัน</p>
      <p>&nbsp;&nbsp;• ท่านให้ข้อมูลกับเราผ่านการติดต่อสอบถามผ่านช่องทางออนไลน์ของเราหรือช่องทางปกติ</p>
      <p>เราเก็บข้อมูลส่วนบุคคลของท่านเท่าที่จำเป็นในการให้บริการกับท่าน เพื่อให้ท่านติดต่อสอบถามข้อมูล
        และเพื่อดำเนินธุรกิจในทางที่ท่านสามารถคาดหวังได้ว่าเราจะใช้ข้อมูลส่วนบุคคลของท่านเพื่อการนั้น เราอาจเก็บรวบรวม
        ใช้
        หรือเปิดเผยข้อมูลส่วนบุคคลประเภทต่างๆ ของท่าน ซึ่งสามารถจำแนกเป็นกลุ่มได้ดังนี้</p>
      <table class="table" style="font-size: 12px;">
        <tr>
          <td>ข้อมูลการติดต่อ (Contact Data)</td>
          <td>ได้แก่ข้อมูล เช่น ชื่อ-นามสกุล, ที่อยู่, อีเมล, หมายเลขโทรศัพท์, โครงการที่อยู่อาศัยที่ท่านสนใจ,
            ช่วงงบประมาณในการซื้อโครงการ, เหตุผลในการซื้อที่อยู่อาศัย</td>
        </tr>
        <tr>
          <td>ข้อมูลด้านเทคนิค (Technical Data)</td>
          <td>ได้แก่ข้อมูล เช่น หมายเลข IP Address ของคอมพิวเตอร์, ชนิดของบราวเซอร์, การตั้งค่าเรื่องเขตเวลา (time
            zone),
            ที่ตั้ง (location), ระบบปฏิบัติการ, แพลตฟอร์มและเทคโนโลยีของอุปกรณ์ที่ใช้เข้าเว็บไซต์</td>
        </tr>
        <tr>
          <td>ข้อมูลการใช้งาน (Usage Data)</td>
          <td>ได้แก่ข้อมูล เช่น หน้าเว็บไซต์ที่ท่านเข้าถึงก่อนที่ท่านจะเข้าสู่แพลตฟอร์ม, หน้าเว็บไซต์ที่ที่ท่านเข้าชม,
            จำนวนเวลาที่ท่านใช้ในการชมหน้าเว็บไซต์, สินค้าหรือข้อมูลที่ท่านค้นหาในแพลตฟอร์ม, เวลาและวันที่ข้าชมเว็บไซต์,
            ข้อมูลการกดดูเว็บไซต์ </td>
        </tr>
        <tr>
          <td>ข้อมูลการสื่อสาร (Communication Data)</td>
          <td>ได้แก่ข้อมูล เช่น อีเมล, บันทึกข้อมูลสนทนา และข้อมูลในการสื่อสาร</td>
        </tr>
        <tr>
          <td>ข้อมูลที่เกี่ยวข้องกับการทำสัญญา (Contract-related Data)</td>
          <td>ได้แก่ข้อมูล เช่น เลขประจำตัวประชาชน, ที่อยู่, หมายเลขบัตรเครดิต, วันเดือนปีเกิด, เพศ </td>
        </tr>
      </table>
      <p style="font-weight: bold;">3. แหล่งที่มาของข้อมูลส่วนบุคคล</p>
      <p>1. เราได้ข้อมูลส่วนบุคคลที่มาจากท่านโดยตรง ผ่านช่องทางดังต่อไปนี้</p>
      <p>&nbsp;&nbsp;• ท่านลงทะเบียนโดยการสร้างบัญชีผ่านเว็บไซต์หรือแอปพลิเคชัน</p>
      <p>&nbsp;&nbsp;• ท่านติดต่อกับเราเพื่อขอรับข้อมูลโครงการที่อยู่อาศัยที่ท่านสนใจ </p>
      <p>&nbsp;&nbsp;• ท่านนัดหมายเพื่อเข้าชมโครงการที่อยู่อาศัย</p>
      <p>&nbsp;&nbsp;• ท่านให้ข้อมูลกับเราเมื่อเข้ามาเยี่ยมชมโครงการที่อยู่อาศัย</p>
      <p>&nbsp;&nbsp;• ท่านเข้าร่วมกิจกรรมส่งเสริมการขายของเราผ่านช่องทางอิเล็กทรอนิกส์ หรือช่องทาง Social Network
        หรือช่องทางปกติ </p>
      <p>2. ข้อมูลส่วนบุคคลของท่านที่เราได้รับมาจากบุคคลภายนอก (Third Party) ที่ดำเนินการเกี่ยวกับการเก็บรวบรวม ใช้
        หรือเปิดเผยข้อมูลส่วนบุคคลตามคำสั่งหรือในนามของเรา
        ซึ่งข้อมูลส่วนบุคคลของท่านจะไม่ถูกนำไปใช้นอกเหนือจากวัตถุประสงค์ที่เราได้กำหนดหรือสั่งไว้
        และเราได้กำหนดให้บุคคลภายนอกต้องรักษาความลับและคุ้มครองข้อมูลส่วนบุคคลของท่านตามมาตรฐานของกฎหมายคุ้มครองข้อมูลส่วนบุคคลของประเทศไทย
      </p>
      <p>3. ข้อมูลส่วนบุคคลที่ได้มาจากคุกกี้ (cookies) เมื่อท่านเข้าชมเว็บไซต์ของเรา
        ข้อมูลเหล่านี้ช่วยให้เราสามารถจัดให้มีการบริการที่ดีขึ้น เร็วขึ้น ปลอดภัยขึ้น และเพื่อความเป็นส่วนตัวของท่าน
        เมื่อท่านใช้บริการ และ/หรือเข้าสู่แพลตฟอร์ม</p>
      <p style="font-weight: bold;">4. วัตถุประสงค์ในการเก็บรวบรวม ใช้ และเปิดเผยข้อมูลส่วนบุคคล</p>
      <p>เราใช้ข้อมูลส่วนบุคคลของท่านภายใต้ขอบเขตของกฎหมายคุ้มครองข้อมูล
        และเก็บรวบรวมข้อมูลเพียงเท่าที่จำเป็นสำหรับการดำเนินการดังกล่าว
        เราจะจัดเก็บเพียงข้อมูลที่เกี่ยวข้องกับการให้บริการระหว่างท่านกับเราที่เป็นการจำเป็น:</p>
      <p>&nbsp;&nbsp;• เพื่อประโยชน์โดยชอบด้วยกฎหมายของเรา (Legitimate Interests)
        หรือประโยชน์โดยชอบด้วยกฎหมายของบุคคลภายนอก หรือประโยชน์โดยชอบด้วยกฎหมายของท่าน
        โดยที่ไม่ทำให้สิทธิขั้นพื้นฐานในข้อมูลส่วนบุคคลของท่านนั้นลดน้อยลง</p>
      <p>&nbsp;&nbsp;• เพื่อการปฏิบัติตามสัญญาที่ท่านเป็นคู่สัญญา
        หรือเพื่อใช้ในการดำเนินการตามคำขอของท่านก่อนเข้าทำสัญญา
      </p>
      <p>&nbsp;&nbsp;• เพื่อเป็นการปฏิบัติตามกฎหมายของเรา หรือเพื่อป้องกันหรือระงับอันตรายต่อชีวิต ร่างกาย
        หรือสุขภาพของบุคคล</p>
      <p>เราได้สรุปการใช้ข้อมูลส่วนบุคคลของท่านในการให้บริการกับท่าน
        พร้อมทั้งอธิบายฐานการประมวลผลข้อมูลส่วนบุคคลที่ชอบธรรม (Lawful Basis of Processing)
        ที่เราใช้ในการประมวลผลข้อมูลส่วนบุคคลของท่าน ในแต่ละกิจกรรมตามตารางข้างล่าง</p>
      <table class="table" style="font-size: 12px;">
        <tr>
          <th style="width: 40%;">วัตถุประสงค์</th>
          <th style="width: 20%;">ประเภทข้อมูล</th>
          <th style="width: 40%;">ฐานการประมวลผลข้อมูลส่วนบุคคลที่ชอบธรรม</th>
        </tr>
        <tr>
          <td>1) ให้บริการกับท่าน รวมถึงการให้ข้อมูลเกี่ยวกับโครงการที่ท่านสนใจ</td>
          <td>- ข้อมูลการติดต่อ<br>- ข้อมูลการสื่อสาร</td>
          <td>1) เพื่อการจำเป็นเพื่อการปฏิบัติตามสัญญาให้บริการ<br>2)
            เพื่อประโยชน์โดยชอบด้วยกฎหมายของเราในการให้ข้อมูลเกี่ยวกับโครงการที่ท่านสนใจ</td>
        </tr>
        <tr>
          <td>2) เพื่อจัดการความสัมพันธ์กับท่านในฐานะลูกค้า (Customer Relations) โดยการจัดกิจกรรมส่งเสริมการขายต่างๆ
          </td>
          <td>- ข้อมูลการติดต่อ<br>- ข้อมูลการสื่อสาร</td>
          <td>1) เพื่อการจำเป็นเพื่อการปฏิบัติตามสัญญา<br>2)
            เพื่อประโยชน์โดยชอบด้วยกฎหมายของเราในการแนะนำโครงการที่สอดคล้องกับความต้องการของท่าน
            และเก็บข้อมูลรวมถึงศึกษารูปแบบการใช้บริการของลูกค้าเพื่อพัฒนาบริการของเรา</td>
        </tr>
        <tr>
          <td>3) เพื่อบริหารจัดการเว็บไซต์ของเรา พัฒนาบริการของเรา
            และเพื่อแก้ปัญหาในเชิงเทคนิคที่เกิดขึ้นในการใช้เว็บไซต์
          </td>
          <td>- ข้อมูลการติดต่อ<br>- ข้อมูลด้านเทคนิค</td>
          <td>
            เพื่อประโยชน์โดยชอบด้วยกฎหมายของเราในการนำข้อมูลและสถิติการใช้งานเว็บไซต์ของท่านมาวางแผนธุรกิจเพื่อพัฒนาการให้บริการของเราเพื่อให้บริการลูกค้าได้มีประสิทธิภาพมากขึ้น
          </td>
        </tr>
        <tr>
          <td>4) เพื่อวิเคราะห์ข้อมูลในการพัฒนาเว็บไซต์ และพัฒนาประสบการณ์ของลูกค้าในการรับบริการจากเรา</td>
          <td>- ข้อมูลด้านเทคนิค<br>- ข้อมูลการใช้งาน</td>
          <td>เพื่อประโยชน์โดยชอบด้วยกฎหมายของเราในการกำหนดเป้าหมายลูกค้า ลักษณะการใช้งานของลูกค้า
            และการปรับปรุงเว็บไซต์ให้ตอบโจทก์การใช้งานของลูกค้า</td>
        </tr>
        <tr>
          <td>5) เพื่อทำสัญญาที่เกี่ยวข้องกับการซื้อขายอสังหาริมทรัพย์</td>
          <td>- ข้อมูลการติดต่อ<br>- ข้อมูลที่เกี่ยวข้องกับการทำสัญญา</td>
          <td>เพื่อการจำเป็นเพื่อการปฏิบัติตามสัญญา</td>
        </tr>
        <tr>
          <td>6) ติดต่อและส่งข้อมูลกับธนาคารเพื่ออำนวยความสะดวกในการดำเนินการด้านการสมัครขอสินเชื่อ</td>
          <td>- ข้อมูลการติดต่อ<br>- ข้อมูลที่เกี่ยวข้องกับการทำสัญญา</td>
          <td>เพื่อการจำเป็นเพื่อการปฏิบัติตามสัญญาที่เกี่ยวข้องกับการสมัครขอสินเชื่อ</td>
        </tr>
        <tr>
          <td>7) เพื่อทำการตลาดแบบตรงกับท่านในการเสนอโครงการหรือบริการอื่นที่ท่านอาจสนใจ (เฉพาะกรณีที่ท่านให้ความยินยอม)
          </td>
          <td>- ข้อมูลการติดต่อ</td>
          <td>
            เราจะขอความยินยอมโดยชัดแจ้งจากท่านในการให้เรานำข้อมูลส่วนบุคคลท่านไปทำการตลาดแบบตรงสำหรับการเสนอโครงการที่อยู่อาศัยหรือบริการที่ท่านอาจสนใจ
          </td>
        </tr>
        <tr>
          <td style='color: black;'>8) เพื่อบริการจัดการด้านนิติบุคคลและการอยู่อาศัย
            ในโครงการที่ให้กับท่านหลังจากที่ท่านได้ซื้อโครงการที่อยู่อาศัยกับเราแล้ว โดยจะแบ่งปันข้อมูลกับบริษัท สมาร์ท
            เซอร์วิส แอนด์ แมเนจเม้นท์ จำกัด รวมทั้งบริษัทที่ให้บริการอื่นๆ เช่นบริษัท วาริ ดิจิตอล จำกัด และบริษัทอื่นๆ
            ที่เป็นบริษัทในเครือของเราเพื่อบริหารงานด้านนิติบุคคล และการอยู่อาศัย ในโครงการ และ
            ซึ่งเป็นบริษัทในเครือของเรา เพื่อการให้บริการด้านนิติบุคคลผ่าน Smart World Application และบริการอื่นๆ
            ที่เกี่ยวกับการอยู่อาศัย และประโยชน์ของลูกบ้าน</td>
          <td>- ข้อมูลการติดต่อ<br>- ข้อมูลการสื่อสาร</td>
          <td>เพื่อการจำเป็นเพื่อการปฏิบัติตามสัญญาให้บริการด้านนิติบุคคลที่ท่านเป็นคู่สัญญากับ<span
              style="color: black;">บริษัท สมาร์ท เซอร์วิส แอนด์ แมเนจเม้นท์ จำกัด รวมทั้งบริษัทที่ให้บริการอื่นๆ เช่น
              บริษัท วาริ ดิจิตอล จำกัด และบริษัทอื่นๆ ที่เป็นบริษัทในเครือของเราเพื่อบริหารงานด้านนิติบุคคล
              และการอยู่อาศัย ในโครงการ และ ซึ่งเป็นบริษัทในเครือของเรา เพื่อการให้บริการด้านนิติบุคคลผ่าน Smart World
              Application และบริการอื่นๆ ที่เกี่ยวกับการอยู่อาศัย และประโยชน์ของลูกบ้าน</span></td>
        </tr>
      </table>

      <p>
        เราอาจใช้ฐานการประมวลผลข้อมูลส่วนบุคคลที่ชอบธรรมมากกว่าหนึ่งฐานในการประมวลผลข้อมูลส่วนบุคคลของท่านขึ้นอยู่กับวัตถุประสงค์ในแต่ละกิจกรรมของเราที่ใช้ข้อมูลส่วนบุคคลของท่าน
      </p>
      <p style="font-weight: bold;">5. การเปิดเผยหรือแบ่งปันข้อมูลส่วนบุคคล</p>
      <p>1. เราอาจเปิดเผยหรือแบ่งปันข้อมูลส่วนบุคคลของท่านให้กับบุคคลภายนอก ดังต่อไปนี้</p>
      <p>&nbsp;&nbsp;• บริษัทในเครือ</p>
      <p>&nbsp;&nbsp;• แพลตฟอร์มโฆษณาออนไลน์</p>
      <p>&nbsp;&nbsp;• บริษัทหรือที่ปรึกษาด้านการตลาด</p>
      <p>&nbsp;&nbsp;• หน่วยงานกำกับดูแล เช่น สำนักงานคณะกรรมการคุ้มครองข้อมูลส่วนบุคคล</p>
      <p>&nbsp;&nbsp;• ที่ปรึกษาทางธุรกิจหรือทางวิชาชีพ</p>
      <p>
        เรากำหนดให้บุคคลภายนอกที่เราเปิดเผยหรือแบ่งปันข้อมูลส่วนบุคคลของท่านที่ได้กล่าวไว้ข้างต้นต้องรักษาความลับและคุ้มครองข้อมูลส่วนบุคคลของท่านตามมาตรฐานที่กฎหมายคุ้มครองข้อมูลส่วนบุคคลของประเทศไทยกำหนด
        และใช้ข้อมูลส่วนบุคคลของท่านได้เฉพาะตามวัตถุประสงค์ที่เราได้กำหนดหรือมีคำสั่งให้บุคคลภายนอกนั้นดำเนินการ
        บุคคลภายนอกจะไม่สามารถใช้ข้อมูลส่วนบุคคลของท่านนอกเหนือจากวัตถุประสงค์ดังกล่าวได้ </p>
      <p>2. เมื่อถูกร้องขอ เราอาจเปิดเผยข้อมูลส่วนบุคคลของท่านให้หน่วยงานที่เกี่ยวข้องเพื่อปฏิบัติตามกฎหมาย เช่น
        เพื่อป้องกันการข่มขู่ต่อชีวิตหรือร่างกาย เพื่อวัตถุประสงค์ในการบังคับใช้กฎหมาย การตั้งข้อหา
        การใช้สิทธิ์ปกป้องสิทธิทางกฎหมาย การป้องกันกรณีฉ้อโกง</p>
      <p style="font-weight: bold;">6. การเก็บรักษาและระยะเวลาในการเก็บรักษาข้อมูลส่วนบุคคล</p>
      <p>เราเก็บข้อมูลส่วนบุคคลของท่านในระบบงานสารสนเทศของเรา
        และจัดให้มีการรักษาความปลอดภัยที่มีมาตรฐานเพื่อให้ระบบงานสารสนเทศของเราและการใช้ข้อมูลส่วนบุคคลของท่านมีความปลอดภัยโดยมีมาตรการดังนี้
      </p>
      <p>&nbsp;&nbsp;• จำกัดการเข้าถึงข้อมูลส่วนบุคคลที่อาจจะเข้าถึงได้โดยพนักงาน ตัวแทน คู่ค้า หรือบุคคลภายนอก
        การเข้าถึงข้อมูลส่วนบุคคลของบุคคลภายนอกจะสามารถทำได้ตามเท่าที่กำหนดไว้หรือตามคำสั่ง
        ซึ่งบุคคลภายนอกจะต้องมีหน้าที่ในการรักษาความลับและคุ้มครองข้อมูลส่วนบุคคล</p>
      <p>&nbsp;&nbsp;• จัดให้มีวิธีการทางเทคโนโลยีเพื่อป้องกันไม่ให้มีการเข้าสู่ระบบคอมพิวเตอร์ที่ไม่ได้รับอนุญาต</p>
      <p>&nbsp;&nbsp;•
        จัดการทำลายข้อมูลส่วนบุคคลของท่านเพื่อความปลอดภัยเมื่อข้อมูลดังกล่าวไม่จำเป็นสำหรับวัตถุประสงค์ทางกฎหมายและธุรกิจอีกต่อไป
      </p>
      <p>&nbsp;&nbsp;• มีกระบวนการจัดการกับกรณีละเมิดข้อมูลส่วนบุคคล หรือกรณีที่ต้องสงสัย
        และต้องแจ้งเหตุการละเมิดข้อมูลส่วนบุคคลแก่สำนักงานคณะกรรมการคุ้มครองข้อมูลส่วนบุคคลตามเงื่อนไขที่กฎหมายกำหนด</p>
      <p>ระยะเวลาในการเก็บรักษาข้อมูลส่วนบุคคล</p>
      <p>&nbsp;&nbsp;•
        เราเก็บข้อมูลส่วนบุคคลของท่านไว้ในระยะเวลาที่จำเป็นเพื่อดำเนินการตามวัตถุประสงค์ในการให้บริการของเรา
        และเป็นไปตามระยะเวลาที่กำหนดโดยมาตรฐานทางบัญชี มาตรฐานทางกฎหมาย และกฎระเบียบอื่นที่เกี่ยวข้อง</p>
      <p>&nbsp;&nbsp;• ในการกำหนดระยะเวลาในการเก็บรักษาข้อมูล เราจะพิจารณาถึงจำนวน ลักษณะการใช้งาน
        วัตถุประสงค์ในการให้บริการ ความอ่อนไหวของข้อมูลส่วนบุคคล
        และความเสี่ยงที่อาจเกิดขึ้นจากการใช้ข้อมูลส่วนบุคคลโดยมิชอบ และระยะเวลาที่กำหนดโดยกฎหมายที่เกี่ยวข้อง</p>
      <p>&nbsp;&nbsp;• ข้อมูลส่วนบุคคลของท่านที่ได้มาจากคุกกี้ (Cookies) ในการเก็บข้อมูลเมื่อท่านเข้าใช้เว็บไซต์เรา
        จะเก็บไว้ไม่เกิน 13 เดือน หรือตามที่กฎหมายที่เกี่ยวข้องกำหนด</p>
      <p style="font-weight: bold;">7. สิทธิของเจ้าของข้อมูลส่วนบุคคล</p>
      <p>ในฐานะเจ้าของข้อมูลส่วนบุคคล ท่านมีสิทธิในการดำเนินการตามขอบเขตที่กฎหมายอนุญาตให้กระทำได้ ดังต่อไปนี้</p>
      <p>1. ท่านมีสิทธิเพิกถอนความยินยอม (Right to withdraw Consent)
        ในการประมวลผลข้อมูลส่วนบุคคลท่านได้ให้ความยินยอมกับเราได้ ตลอดระยะเวลาที่ข้อมูลส่วนบุคคลของท่านอยู่กับเรา</p>
      <p>2. ท่านมีสิทธิในการเข้าถึงข้อมูลส่วนบุคคลของท่าน (Right of Access)
        และขอให้เราทำสำเนาข้อมูลส่วนบุคคลดังกล่าวให้แก่ท่าน
        รวมถึงขอให้เราเปิดเผยการได้มาซึ่งข้อมูลส่วนบุคคลที่ท่านไม่ได้ให้ความยินยอมต่อเราได้</p>
      <p>3. ท่านมีสิทธิให้เราแก้ไขข้อมูลส่วนบุคคลให้ถูกต้อง หรือเพิ่มเติมข้อมูลที่ไม่สมบูรณ์ (Right to Rectification)
      </p>
      <p>4. ท่านมีสิทธิในการขอให้เราทำการลบข้อมูลของท่านด้วยเหตุบางประการได้ (Right to Erasure)</p>
      <p>5. ท่านมีสิทธิขอให้เราระงับใช้ข้อมูลส่วนบุคคลของท่านด้วยเหตุผลบางประการได้ (Right to Restriction of Processing)
      </p>
      <p>6.
        ท่านมีสิทธิในการโอนย้ายข้อมูลส่วนบุคคลที่ท่านให้ไว้กับเราไปยังผู้ควบคุมข้อมูลรายอื่นหรือตัวท่านเองด้วยเหตุผลบางประการได้
        (Right to Data Portability)</p>
      <p>7. ท่านมีสิทธิคัดค้านการประมวลผลข้อมูลของท่านด้วยเหตุผลบางประการได้ (Right to Object)</p>
      <p>ท่านสามารถติดต่อมายังเจ้าหน้าที่ DPO/เจ้าหน้าที่ฝ่ายของบริษัทฯ
        เพื่อดำเนินการยื่นคำร้องขอดำเนินการตามสิทธิข้างต้นได้</p>
      <p style="font-weight: bold;">8. กิจกรรมทางการตลาดและการส่งเสริมการตลาด</p>
      <p>เราอาจดำเนินกิจกรรมทางการตลาดและการส่งเสริมการตลาดหรือให้บุคคลภายนอกที่เรามีข้อกำหนดหรือคำสั่งให้ดำเนินการ
        ในกรณีดังต่อไปนี้</p>
      <p>• ในกรณีที่เรานำข้อมูลส่วนบุคคลของท่านไปใช้ในการทำการตลาดแบบตรง (Direct Marketing) กับท่าน
        เราจะดำเนินการได้เฉพาะกรณีที่ท่านให้ความยินยอมโดยชัดแจ้งกับเรา
        และเราได้มีการแจ้งถึงวัตถุประสงค์ของการใช้ข้อมูลท่านเพื่อการทำการตลาดแบบตรงนั้นกับท่านแล้ว ทั้งนี้
        ท่านสามารถยกเลิกการให้ความยินยอมกับเราในเรื่องการทำการตลาดแบบตรงได้ตลอดเวลาโดยผ่านระบบการยกเลิกการรับข้อมูลของเรา
      </p>
      <p>• ในกรณีการเข้าร่วมกิจกรรมส่งเสริมการขายของบริษัท เช่น กิจกรรมการเล่นเกม หรือกิจกรรมในช่องทาง Social Network
        ต่างๆ เพื่อประชาสัมพันธ์สินค้าและบริการของเราให้บุคคลทั่วไปทราบ
        เราจะไม่นำข้อมูลของท่านไปประมวลผลเพื่อทำการตลาดแบบตรง (Direct Marketing)
        ยกเว้นท่านจะให้ความยินยอมโดยชัดแจ้งให้เรานำข้อมูลส่วนบุคคลไปทำการตลาดแบบตรงได้
        โดยเราจะแจ้งท่านถึงวัตถุประสงค์ของการใช้ข้อมูลท่านเพื่อการทำการตลาดแบบตรง
        และท่านสามารถยกเลิกการให้ความยินยอมกับเราในเรื่องการทำการตลาดแบบตรงได้ตลอดเวลาโดยผ่านระบบการยกเลิกการรับข้อมูลของเรา
      </p>
      <p style="font-weight: bold;">9. นโยบายเรื่องคุกกี้ (Cookies) </p>
      <p>Cookies คือ text files ที่อยู่ในคอมพิวเตอร์ของท่านที่ใช้เพื่อจัดเก็บรายละเอียดข้อมูล log
        การใช้งานอินเทอร์เน็ตของท่านหรือพฤติกรรมการเยี่ยมชมเว็บไซต์ของท่าน ท่านสามารถศึกษารายละเอียดเพิ่มเติมในเรื่อง
        Cookies ได้จากhttps://www.allaboutcookies.org/</p>
      <p>เราใช้ Cookies ในการจัดเก็บข้อมูลการเข้าเยี่ยมชมเว็บไซต์ของท่านเพื่อช่วยให้เราสามารถจัดให้มีการบริการที่ดีขึ้น
        เร็วขึ้น ปลอดภัยขึ้น และเพื่อความเป็นส่วนตัวของท่าน เมื่อท่านใช้บริการผ่านเว็บไซต์เรา โดยเราใช้ Cookies
        ในกรณีดังต่อไปนี้</p>
      <p>• Cookies เพื่อการทำงานของเว็บไซต์ (Functionality Cookies): เราใช้ Cookies
        ประเภทนี้เพื่อช่วยให้เราจดจำอุปกรณ์หรือบราวเซอร์ของท่านเพื่อให้เราสามารถจัดทำเนื้อหาให้เหมาะสมกับความสนใจส่วนบุคคลของท่านได้รวดเร็วขึ้น
        และช่วยให้การบริการและแพลตฟอร์มสะดวกสบายและเป็นประโยชน์ต่อท่านมากขึ้น ในการปิดใช้งาน Cookies นี้
        ท่านสามารถตั้งค่าอุปกรณ์ของคุณโดยดูวิธีการช่วยเหลือของเบราเซอร์หรืออุปกรณ์ของท่าน</p>
      <p>• Cookies เพื่อการวิเคราะห์ (Analytic cookies): เราใช้ Analytics Cookies ที่ให้บริการโดย Facebook และ Google
        เพื่อวิเคราะห์การเข้าใช้งานของผู้เข้าชมเว็บไซต์เพื่อนำเสนอสินค้าหรือบริการให้ท่านผ่านการโฆษณาใน Social Media
        ถ้าหากท่านไม่ยินยอมให้บุคคลภายนอกเหล่านี้ประมวลผลข้อมูลส่วนบุคคลของท่าน ท่านสามารถเลือกปิดการใช้งาน Cookies
        ลักษณะนี้บนหน้าเว็บไซต์เรา</p>
      <p style="font-weight: bold;">10. นโยบายการคุ้มครองข้อมูลส่วนบุคคลของ Website อื่น</p>
      <p>นโยบายความเป็นส่วนตัวฉบับนี้ใช้เฉพาะสำหรับการให้บริการของเราและการใช้งานเว็บไซต์ของเราเท่านั้นหากท่านได้กด link
        ไปยังเว็บไซต์อื่น (แม้จะผ่านช่องทางในเว็บไซต์ของเราก็ตาม)
        ท่านจะต้องศึกษาและปฏิบัติตามนโยบายความเป็นส่วนตัวที่ปรากฏในเว็บไซต์นั้นๆ แยกต่างหากจากของเรา</p>
      <p style="font-weight: bold;">11. การเปลี่ยนแปลงนโยบายคุ้มครองข้อมูลส่วนบุคคล</p>
      <p>เราจะตรวจสอบประสิทธิภาพของนโยบายความเป็นส่วนตัวเป็นประจำ ทั้งนี้ หากมีการเปลี่ยนแปลงนโยบายความเป็นส่วนตัว
        การเปลี่ยนแปลงนโยบายดังกล่าวจะถูกประกาศหรือตีพิมพ์ไว้บนเว็บไซต์หรือแพลตฟอร์มอื่นของเรา</p>
      <p style="font-weight: bold;">12. ช่องทางการติดต่อ</p>
      <p><u>รายละเอียดผู้ควบคุมข้อมูล</u></p>
      <p>หากท่านต้องการติดต่อเพื่อขอใช้สิทธิของเจ้าของข้อมูล หรือหากมีข้อสงสัย หรือข้อร้องเรียนใดๆ
        ท่านสามารถติดต่อได้ดังช่องทางต่อไปนี้</p>
      <p style="font-weight: bold;">บริษัท เอพี (ไทยแลนด์) จำกัด (มหาชน)</p>
      <p><b>สถานที่ติดต่อ :</b> เลขที่ 170/57 อาคารโอเชี่ยนทาวเวอร์ 1 ชั้น 18 ถนนรัชดาภิเษกตัดใหม่ คลองเตย กรุงเทพฯ
        10110
      </p>
      
      <p><b>ช่องทางการติดต่อ</b></p>
      <p><b>โทรศัพท์ :</b> 02-018-9999</p>
      <p><b>E-mail :</b> dpo@apthai.com</p>
      <!-- && welcomeHomeFlag==='Y' && welcomeHomeAcceptDatetime === null -->
      <div *ngIf="showTha==true">
        <br>
        <input *ngIf="welcomeHomeFlag==='Y'"
          type="checkbox" 
          name="checkBtn" 
          [(ngModel)]="checkWelcomehome"
          [defaultChecked]="checkWelcomehome"
          [disabled]="welcomeHomeAcceptDatetime !== null"
          ><label
          *ngIf="welcomeHomeFlag==='Y'">&nbsp;&nbsp;คุณมียอดเงินคืน <b>Welcome Home</b> จำนวน {{welcomehomeAmount | number : '1.2-2' }} บาท กรุณายืนยันรับสิทธิ์</label>
          <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <button class="btn" type="button" style="font-size:12px;color: #FF217B;border: none;background-color:white;"
          *ngIf="welcomeHomeFlag==='Y'"
          (click)="getWelcomeMemo()"><u>คลิกเพื่อดาวน์โหลดเอกสารรับสิทธิ์ Welcome Home</u></button>
        <br><br> 
      </div>
      <br>
      <div>
      <p class="welcomehome-warning" *ngIf="checkWelcomehome === false && welcomeHomeFlag === 'Y'  && welcomeHomeAcceptDatetime === null">กรุณากดยินยอมรับเงินคืน <b>Welcome Home</b></p>
      <p class="welcomehome-warning" *ngIf="checkWelcomehome === true && welcomeHomeFlag === 'Y'">&nbsp;</p>
    </div>
    </details>

    <mat-dialog-actions align="end" *ngIf="showBtnTha==true">
      
      <button type="button" mat-button [mat-dialog-close]="true" style="background-color: #1e7e34; color: white;"
        cdkFocusInitial
        [disabled]="welcomeHomeFlag === 'Y' && checkWelcomehome === false  && welcomeHomeAcceptDatetime === null" 
        (click)="appvWelcomehome()"
        >ยินยอม/Agree</button>
        <button type="button" mat-button mat-dialog-close style="background-color: #f44336; color: white;">ไม่ยินยอม/Disagree</button>
    </mat-dialog-actions>

    
    <!-- <mat-dialog-actions align="end" *ngIf="showBtnTha==true && refundAmount <= 1000">
      <button mat-button mat-dialog-close style="background-color: #f44336; color: white;">ไม่ยินยอม/Disagree</button>
      <button 
      mat-button mat-dialog-close 
      style="background-color: #1e7e34; color: white;"
      cdkFocusInitial
      [disabled]="welcomeHomeFlag === 'Y' && checkWelcomehome === false  && welcomeHomeAcceptDatetime === null"
      (click)="appvWelcomehomeOnly()"
        >test</button>
    </mat-dialog-actions> -->
  </div>

  <br>
  <div>
    <details *ngIf="showEng==true">

      <summary  *ngIf="showEng==true" (click)="onShowEng()" style="font-size: 18px;">English</summary>
 
      <!-- <h3>ข้อตกลงและเงื่อนไขการใช้บริการเว็บไซต์ของ บริษัท เอพี (ไทยแลนด์) จำกัด (มหาชน) (“เอพี”)</h3> -->
      <br>
      <h4 style="font-weight: bold;">Terms and conditions of use of AP (Thailand) PCL.’s website (“AP”)</h4>
      <p>Welcome to our website. This website is launched and operated by AP. If you continue to browse and click
        ‘Accept’
        on this website, you are agreeing to comply with and be bound by the following terms and conditions of use.
        Therefore, please read these terms and conditions carefully before you start to use our site. Under these terms
        and conditions of use, ‘Website’ means a website launched and operated by AP, which may link to all associated
        sites of AP and other sites of third-party. Before using our Website, please read these terms and conditions
        carefully and confirm that you agree to comply with them </p>
      <p><b>Use of Website</b></p>
      <p>We may occasionally change these terms and conditions, so we encourage you to review the terms and conditions
        periodically in order to update the most current version.</p>
      <p>In addition, this website contains texts, contents, computer programs, pictures, videos, voices, or graphics.
        You
        agree that there are copyright in everything showing on this website and intellectual properties owned by AP. No
        part of these materials may be copied, modified and/or distributed or disclosed the texts, contents, computer
        programs, pictures, videos, voices, or graphics in any way to public without prior written consent of AP.</p>
      <p>The trademarks and logos displayed on this Website are the registered and unregistered trademarks of their
        respective owners. Use of the trade marks displayed is strictly prohibited. You are advised that the owners of
        the
        trade marks will aggressively enforce their intellectual property rights to the fullest extent of the law.</p>
      <p>You agree that you will not use this website or our services to carry out any “data mining” services to collect
        or collate information about the identities and offers of our clients and/ or advertisers. You agree that you
        will
        not use automation software (bots), hacks, mods or any other unauthorized third-party software designed to
        access,
        crawl or collect from AP and/ or other data and services.</p>
      <p>You agree you will not use any software that unauthorized collects data and services of AP without permission.
      </p>
      <p><b>About the information</b></p>
      <p>AP uses reasonable efforts to include accurate and up to date information. However, AP makes no warranties or
        representations as to its accuracy. In particular, AP assumes no liability or responsibility for any errors or
        omissions in the content of the Website.</p>
      <p><b>Submitted information</b></p>
      <p>Any information you provide to AP will be treated as non-confidential and non-proprietary. Anything you
        transmit or post becomes the property of AP or its affiliates who are free to use the information for any
        purpose.
        You agree that no submissions provided by you to the Website will violate any right of any third party,
        including copyright, trademark, privacy or other personal or proprietary right(s). You are and shall remain
        solely responsible for the content of any submissions you make.
      </p>
      <p>Through your usage of this Website, you may submit and/ or AP may gather certain limited information about you
        and your Website usage. AP is free to use such information as stated in its privacy policy.</p>
      <p><b>Link to other websites</b></p>
      <p>This Website may contain links to other websites. The connections are provided for your convenience to search
        for websites, service and/or related products. AP does not control and is not responsible for its accuracy and
        reliability of any of these websites or their content or any connection of the third-party’s websites. You agree
        that your use of services and/or products representing via such websites is at your sole risk. AP does not
        control and is not responsible for all contents. AP does not relate to the warranty and costs associated with
        website’s owners or operators (including any damages from the complaints of copyright violation and Intellectual
        property infringement). AP does not allow unauthorized hypertext links to the Site.</p>
      <p><b>Limitation of Liability.</b></p>
      <p>You agree that your use of the Website is at your sole risk and that you are responsible for all costs
        associated (if any) with your access to, or use of, the Site. AP, its directors, employees or any other
        representative will not be liable for any damages, losses, costs, claims or demands of any kind, whether direct,
        indirect, compensatory or consequential, related to your use of this Website or the information content,
        materials or products included on this Website. These terms are governed by Thailand law and any dispute will be
        resolved exclusively by the Thailand courts.</p>
      <p><b>Changes to These Terms and Conditions</b></p>
      <p>The nature of AP’s business is constantly evolving and therefore our Privacy Policy, Terms Of Use and the rules
        of advertising will also change over time. You should check the website frequently to see if any recent
        amendments or additions have been made.</p>


      <hr>

      <h4 style="font-weight: bold;">Privacy Policy AP (Thailand) Public Company Limited</h4>
      <p>We, AP (Thailand) Public Company Limited, strictly abide by our customers’ privacy. When we use your personal
        data to run our business and provide service to you, your personal data is protected under the Personal Data
        Protection Act B.E. 2562. </p>
      <p>As the data controller, we are obliged by the law to inform you of our privacy policy which explains the way we
        collect, use or disclosure your personal data as well as your rights to your personal data as the data subject.
        We
        reaffirm that we comply with the law to protect your personal data.</p>
      <p style="font-weight: bold;">1. Definition of Personal Data</p>
      <p>Personal Data can be divided in 2 categories</p>
      <p style="font-weight: bold;">Personal Data (General)</p>
      <p>Personal Data means any information related to a person, which enables the identification of such person,
        whether
        directly or indirectly. For example, name address e-mail address Identification Number. </p>
      <p style="font-weight: bold;">Sensitive Personal Data</p>
      <p>Sensitive Data is special category of personal data that needs appropriate protection and carefully collect,
        use
        or disclose. Sensitive Data pertains racial, ethnic origin, political opinions, cult, religious or philosophical
        beliefs, sexual behavior, criminal records, health data, disability, trade union information, genetic data and
        biometric data.</p>
      <p style="font-weight: bold;">2. Personal data that we collect from you</p>
      <p>We collect your information when:</p>
      <p>&nbsp;&nbsp;• You use our website;</p>
      <p>&nbsp;&nbsp;• You provide information to us through our website or applications;</p>
      <p>&nbsp;&nbsp;• You provide information to us when you make enquiry via online or offline channel.</p>
      <p>We only collect your personal data as necessary to provide the service to you and to correspond to your queries
        as well as to carry on our business in a way that you would normally anticipate.</p>
      <p>We may collect, use, store and transfer different types of personal data about you which we have grouped as
        follows:</p>
      <table class="table" style="font-size: 12px;">
        <tr>
          <td>Contact Data</td>
          <td>Includes name-surname, address, email, telephone number, interested properties or project, budget range,
            reasons to purchase.</td>
        </tr>
        <tr>
          <td>Technical Data</td>
          <td>Includes internet protocol (IP) address, browser type and version, time zone setting and location,
            operation
            system and platform and other technology on the devices you use to access this website.</td>
        </tr>
        <tr>
          <td>Usage Data</td>
          <td>Includes information about your use of our service through and from our website, websites that you view,
            elements you viewed or words you searched for in platforms, date and time of visit, and interaction
            information such as clicks on item in a website.</td>
        </tr>
        <tr>
          <td>Communication Data</td>
          <td>Includes email, notes of conversation, communication notes.</td>
        </tr>
        <tr>
          <td>Contract-related Data</td>
          <td>National identification number, address, credit card number, date of birth, sex.</td>
        </tr>
      </table>
      <p style="font-weight: bold;">3. Sources of Personal Data</p>
      <p>1. We receive your personal data directly from you through the following channels:</p>
      <p>&nbsp;&nbsp;• You register with us by creating an account on our website or application.</p>
      <p>&nbsp;&nbsp;• You make a query with us relating to your interested property/ project.</p>
      <p>&nbsp;&nbsp;• You make an appointment with us to visit the project site.</p>
      <p>&nbsp;&nbsp;• You provide information to us when you visit the project site.</p>
      <p>&nbsp;&nbsp;• You participate in our marketing activity through an electronic platform, social media, or an
        offline platform.</p>
      <p>2. We receive your personal data from a third party that collects, uses or discloses your personal data as
        instructed by us or on our behalf. Your personal data will not be used other than the purposes for which we
        instruct or require such third party to do. We require such third party to protect confidentiality of your
        personal data and to have measures to protect your personal data as required by the Thai personal data
        protection
        law.</p>
      <p>3. We receive your personal data from cookies when you visit our website. This data helps us provide you
        better,
        faster, safer services and for your own privacy when you use the service and / or enter the platform.</p>
      <p style="font-weight: bold;">4. Purpose of collection, use and disclose of personal data</p>
      <p>We may use your personal data to the extent permitted by the personal data protection law. We only collect your
        personal data as necessary and to the extent that is related to provision of our service to you, where it is
        necessary:</p>
      <p>&nbsp;&nbsp;• For our legitimate interests or any other person and your interests, which do not override your
        fundamental rights;</p>
      <p>&nbsp;&nbsp;• For the performance of a contract to which you are a party, or in order to take steps at your
        request to enter into a contract;</p>
      <p>&nbsp;&nbsp;• For compliance with a law to which we are subjected or for preventing or suppressing a danger to
        a
        person’s life, body or health.</p>

      <p>We explain in the table below about how we use your personal data, and which lawful basis we rely on to do so.
      </p>
      <table class="table" style="font-size: 12px;">
        <tr>
          <th style="width: 40%;">Purpose/activity</th>
          <th style="width: 20%;">Types of data</th>
          <th style="width: 40%;">The lawful basis of processing</th>
        </tr>
        <tr>
          <td>To provide service including communicate with you about a residential project that you are interested in.
          </td>
          <td style="width: 100px;">- Contact data <br>- Communication data</td>
          <td>1) Necessary for the performance of contract <br>2) For our legitimate interest to provide information to
            you on your interested property/ project.</td>
        </tr>
        <tr>
          <td>To manage our relationship with you. </td>
          <td>- Contact data<br>- Communication data</td>
          <td>1) Necessary for the performance of contract <br>2) For our legitimate interest to recommend a project
            that
            meets your needs and to keep our records and study the way that customers use our service to improve our
            business.</td>
        </tr>
        <tr>
          <td>To administer our website, improve our business, and solve a technical problem on website.</td>
          <td>- Contact data<br>- Technical data</td>
          <td>For our legitimate interests to use statistical and usage information on website to plan our business
            strategy in order to increase efficiency of our service.</td>
        </tr>
        <tr>
          <td>To use data analytics to improve our website, our services and customer relationships and experiences.
          </td>
          <td>- Technical data<br>- Usage data</td>
          <td>For our legitimate interests to define types of customers and the nature of their usage as well as to keep
            our website updated and relevant to respond to customers’ way of using our service.</td>
        </tr>
        <tr>
          <td>To enter into a contract relating to property purchase.</td>
          <td>- Contact data<br>- Contract-related Data</td>
          <td>1) Necessary for the performance of contract </td>
        </tr>
        <tr>
          <td>To provide a direct marketing to you in offering projects or other services that might be of your
            interest.
          </td>
          <td>- Contact data</td>
          <td>We will obtain your explicit consent in allowing us to use your personal data for direct marketing
            purposes
            to offer residential projects or other services that you might be interested in.</td>
        </tr>
        <tr>
          <td style="color: black;">To provide service in terms of residential and juristic person management after
            signing a contract by Smart Service and Management Co., Ltd (affiliated company) and Vaari Digital Co.,Ltd
            and
            other affiliates for the purpose of providing residential related services.</td>
          <td style="color: black;">- Contact Data<br>- Communication Data</td>
          <td style="color: black;">Necessary for the performance of contract with Smart Service and Management Co., Ltd
            (affiliated company) and Vaari Digital Co.,Ltd and other affiliates for the purpose of providing residential
            related services.</td>
        </tr>
      </table>
      <p>We may process your personal data for more than one lawful basis depending on the specific purpose for which we
        are using your data.</p>
      <p style="font-weight: bold;">5. Disclosing or sharing your personal data</p>
      <p>1. We may have to disclose or share your personal data with selected third parties as follows:</p>
      <p>&nbsp;&nbsp;• Our affiliated companies;</p>
      <p>&nbsp;&nbsp;• Online advertising platforms;</p>
      <p>&nbsp;&nbsp;• Marketing companies or consultants;</p>
      <p>&nbsp;&nbsp;• Regulator such as the Office of the Personal Data Protection Committee;</p>
      <p>&nbsp;&nbsp;• Professional advisors and consultants</p>
      <p>We require that the third parties above protect confidentiality and protect your personal data in accordance
        with
        requirements under the Thai personal data protection law. They may use your personal data only for purposes as
        instructed by us. Your personal data will not be used other than the purposes for which we instruct or require
        them to do so.</p>
      <p>2. Upon request, we may disclose your personal data to a relevant authority for compliance with a law such as
        prevention of a danger to a person, legal compliance, setting for an indictment, exercising legal rights, and
        preventing fraud.</p>
      <p style="font-weight: bold;">6. Retention policy and retention period of personal data</p>
      <p>We collect your personal data in our information system and provide standard security to keep our information
        systems and the use of your personal data secure with following measures:</p>
      <p>&nbsp;&nbsp;• Restrict access to personal data which may be accessed by employees, agents, contractors and
        other
        third parties. They can only access your personal data on our instructions, and they are subject to a duty of
        confidentiality and protection of personal data.</p>
      <p>&nbsp;&nbsp;• Provide technological methods to prevent unauthorized access to computer systems.</p>
      <p>&nbsp;&nbsp;• Destroy your personal data for security purposes when such information is no longer needed for
        legal and business purposes.</p>
      <p>&nbsp;&nbsp;• Put in place procedures to deal with any suspected personal data breach and will notify a
        regulator
        of a breach where we are legally required to do so.</p>
      <p style="font-weight: bold;">Retention period of personal data</p>
      <p>&nbsp;&nbsp;• We will keep your personal data for as long as necessary to fulfil the purposes we collected it
        for, including to satisfy any legal, accounting, or reporting requirements.</p>
      <p>&nbsp;&nbsp;• To determine the appropriate retention period for personal data, we consider the amount, nature,
        purpose and sensitivity of the personal data, the potential risk of harm from unauthorised use of your personal
        data, and the applicable legal requirements.</p>
      <p>&nbsp;&nbsp;• We collect your personal data obtained from cookies when you use our website. We will keep your
        personal data for no more than 13 months or as required by relevant laws.</p>
      <p style="font-weight: bold;">7. Right of Data Subject</p>
      <p>Data subjects have the right to proceed to the extent permitted by law as follow;</p>
      <p>&nbsp;&nbsp;1. The data subject shall have the right to withdraw his or her consent at any time. When
        processing
        personal data, you give us consent throughout the duration of your personal data with us (The Right to
        withdraw).
      </p>
      <p>&nbsp;&nbsp;2. The data subject shall have the right to obtain from the controller confirmation as to whether
        or
        not personal data concerning him or her are being processed, request for a copy of his or her personal data,
        including request to disclose personal data acquisition that you did not give us consent to (The Right to
        Access).
      </p>
      <p>&nbsp;&nbsp;3. The data subject shall have the right to obtain from the controller without undue delay the
        rectification of inaccurate personal data concerning him or her (The Right to Rectification).</p>
      <p>&nbsp;&nbsp;4. The data subject shall have the right to obtain from the controller the erasure of personal data
        concerning him or her without undue delay (The Right to Erasure).</p>
      <p>&nbsp;&nbsp;5. The data subject shall have the right to obtain from the controller restriction of data
        processing
        (The Right to Restriction of Processing).</p>
      <p>&nbsp;&nbsp;6. The data subject shall have the right to transmit their personal data to another controller
        without hindrance from the controller to which the personal data have been provided (The Right to Data
        Portability).</p>
      <p>&nbsp;&nbsp;7. The data subject shall have the right to object, on grounds relating to his or her particular
        situation, at any time to processing of personal data concerning him or her. (Right to Object)</p>
      <p>You can contact the DPO or company’s staff in order to proceed with the request to exercise the above rights.
      </p>
      <p style="font-weight: bold;">8. Marketing activities and promotion </p>
      <p>We may conduct marketing activities and promotion or use third parties as instructed by us to do so:</p>
      <p>&nbsp;&nbsp;• In case that we use your personal data for a purpose of providing a direct marketing to you, we
        will be able to do so only when you give us explicit consent and we have already informed you the purpose of
        your
        personal data’s use on direct marketing. However, you can withdraw your consent on direct marketing with us at
        any
        time through our opt-out system. </p>
      <p>&nbsp;&nbsp;• In the case of your participation in our sale promotional activities such as gaming activities or
        other activities through various social network channels for promoting our products and services to the public,
        we
        will not process your data for direct marketing unless you give us an explicit consent to use your personal data
        for direct marketing and we have already informed you the purpose of your personal data’s use on direct
        marketing.
        However, you can withdraw your consent on direct marketing with us at any time through our opt-out system.</p>
      <p style="font-weight: bold;">9. Cookies policy</p>
      <p>Cookies is text files located in your computer to be used to store details of log data on your internet use or
        your website's visiting behavior. You can learn more about Cookies from https://www.allaboutcookies.org/</p>
      <p>We use Cookies to collect your data on visiting to our website to help us provide better, faster and safer
        services and support your privacy when you use our services through our website. We use Cookies in the following
        cases:</p>
      <p>&nbsp;&nbsp;• Cookies for website operations (Functionality Cookies): We use this type of cookies to help us
        remember your device or browser. Thus, we can quickly create content in consistent with your personal interests
        as
        well as provide the service and platform more convenient and beneficial to you. By disabling this cookie, you
        can
        set up your device by watching helping methods on your browser or device.</p>
      <p>&nbsp;&nbsp;• Cookies for analytics (Analytic cookies): We use Analytics Cookies providing by Facebook and
        Google
        for analyzing how visitors use our website with the objective of offering products or services via Social Media.
        In case you do not allow those third parties process your personal data, you can choose to disable this type of
        cookies on our website.</p>
      <p style="font-weight: bold;">10. Privacy policy of other websites</p>
      <p>This Privacy Policy is used for our service and our website use only. If you click on a link to another website
        (although via our website). You will have to study and comply with the privacy policy displayed on that website
        separate from ours.</p>
      <p style="font-weight: bold;">11. Change of privacy policy</p>
      <p>We will review our privacy policy regularly. In case of changing privacy policy, it will be announced on our
        website or other platforms. </p>
      <p style="font-weight: bold;">12. Contact</p>
      <p style="font-weight: bold;"><u>Details of the data controller</u></p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;If you need use your rights to your personal data under the Personal Data Protection
        Act
        B.E. 2562, you can contact ;</p>
      <p style="font-weight: bold;">AP (Thailand) Public Company Limited</p>
      <p><b>Contact Address :</b> 170/57 Ocean Tower 1, 18 Fl., Ratchadapisek Rd., Klongteoy, Bangkok 10110</p>
      <p><b>Contact Tel :</b> 02-018-9999</p>
      <p><b>E-mail :</b> dpo@apthai.com</p>
      <!-- && welcomeHomeFlag==='Y' && welcomeHomeAcceptDatetime === null -->
      <br>
      <div *ngIf="showEng==true ">
      <input  *ngIf="welcomeHomeFlag === 'Y'"
        type="checkbox"  
        name="checkBtn" 
        [(ngModel)]="checkWelcomehome"
        [defaultChecked]="checkWelcomehome"
        [disabled]="welcomeHomeAcceptDatetime !== null"
      ><label *ngIf="welcomeHomeFlag==='Y'">&nbsp;&nbsp;You have {{welcomehomeAmount | number : '1.2-2' }} Baht cash back from <b>Welcome Home Promotion</b>. Please  select the checkbox to receive the rights.</label>

      <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <button class="btn" type="button" style="font-size:12px;color: #FF217B;border: none;background-color:white;"
          *ngIf="welcomeHomeFlag==='Y'"
          (click)="getWelcomeMemo()"><u>Click to download Memo for Welcome Home Promotion</u></button>
        <br><br>
    </div>
    <br>
    <br>
    <div>
      <p class="welcomehome-warning" *ngIf="checkWelcomehome === false && welcomeHomeFlag === 'Y' && welcomeHomeAcceptDatetime === null"
      >Please select the checkbox to receive<b> Welcome Home</b> cash back.</p>
      <p class="welcomehome-warning" *ngIf="checkWelcomehome === true && welcomeHomeFlag === 'Y'">&nbsp;</p>
    </div>

    </details>

    
    <mat-dialog-actions align="end" *ngIf="showBtnEng==true">
      
      <button 
      mat-button [mat-dialog-close]="true" 
      style="background-color: #1e7e34; color: white;"
      cdkFocusInitial
      [disabled]="welcomeHomeFlag === 'Y' && checkWelcomehome === false  && welcomeHomeAcceptDatetime === null"
      (click)="appvWelcomehome()"
        >ยินยอม/Agree</button>
        <button mat-button mat-dialog-close style="background-color: #f44336; color: white;">ไม่ยินยอม/Disagree</button>
    </mat-dialog-actions>

    <!-- <mat-dialog-actions align="end" *ngIf="showBtnEng==true && refundAmount <= 1000">
      <button mat-button mat-dialog-close style="background-color: #f44336; color: white;">ไม่ยินยอม/Disagree</button>
      <button 
      mat-button mat-dialog-close 
      style="background-color: #1e7e34; color: white;"
      cdkFocusInitial
      [disabled]="welcomeHomeFlag === 'Y' && checkWelcomehome === false  && welcomeHomeAcceptDatetime === null"
      (click)="appvWelcomehomeOnly()"
        >test</button>
    </mat-dialog-actions> -->

  </div>


</mat-dialog-content>