<div mat-dialog-content style="max-height: 600px !important;">


  <div class="row">
    <div class="col is-6"><h4>คำแนะนำ</h4></div> 
    <div class="col is-6" style="text-align: right;"><a _ngcontent-bvi-c9="" 
      (click)="onNoClick()" 
      color="warn" mat-icon-button="" 
      class="mat-icon-button mat-button-base mat-warn" 
      ng-reflect-color="warn" 
      tabindex="0" aria-disabled="false">
      <span class="mat-button-wrapper">
        <mat-icon _ngcontent-bvi-c9="" 
        class="mat-icon notranslate material-icons mat-icon-no-color" 
        role="img" 
        aria-hidden="true">close</mat-icon>
      </span>
        <div class="mat-button-ripple mat-ripple mat-button-ripple-round" 
        matripple="" 
        ng-reflect-centered="true" 
        ng-reflect-disabled="false" 
        ng-reflect-trigger="">
      </div>
      <div class="mat-button-focus-overlay">
      </div></a>
    </div> 
  
  </div>

    <picture>
      <img
      src="../../../../assets/images/CRM-ปิดระบบ@2x.jpg" width="100%" h/>
    </picture>
  
   </div>
  
  