<!-- <app-page-header>
</app-page-header> -->
<app-header></app-header>
<div class="container col row justify-content-md-center">
    <picture>
        <img
        src="assets/images/kbank.png" 

        height="180px"/>
    </picture>

    <picture>
        <img src="assets/images/id_bb.png"

        height="180px"/>
    </picture>
    <form
        #myform="ngForm"
        (ngSubmit)="validate(myform)"
        class="form col-xl-6 text-xs-center"
    >
        <fieldset class="form-group">
            <label class="label_header info round">เลขบัตรประชาชน หรือ พาสปอร์ต /<br> Personal ID or Passport ID</label>
            <input
                class="form-control"
                placeholder="เลขบัตรประชาชน หรือ พาสปอร์ต / Please fill in Personal ID or Passport ID"
                name="personalid"
                #personalid="ngModel"
                ngModel
                required
            > 
            <br />
            <button
                type="submit"
                class="btn btn-success"
            >Validate</button>
            <div class="float-right">
            <button class="btn" type="button" style="font-size:12px;color: blue;border: none;background-color:white;" (click)="openTooltip()"><u>เอกสารที่ต้องแนบ/List of Required Doc.</u></button>
            </div>
            <!-- Kai Modified by Deployment 13.08.2020 -->
            <!-- <img src="https://i.ibb.co/dm76vC4/under-con-v3-0.png" alt="under-con-v3-0" border="0"> -->
        </fieldset>
    </form>
</div>

<div
    class="container table-responsive-sm"
    *ngIf="isValidate"
>
    <!-- <div class="example-container mat-elevation-z8" *ngIf="isValidate"> -->
    <mat-table
        [dataSource]="listData"
        matSort
        
    >
        <mat-header-row *matHeaderRowDef="displayedColumn"></mat-header-row>
        <mat-row *matRowDef="let row; columns:displayedColumn;"></mat-row>
        
        <ng-container matColumnDef="Options">
            <mat-header-cell *matHeaderCellDef>Preview Doc.</mat-header-cell>
            <mat-cell *matCellDef="let row">
                <button
                    mat-icon-button
                    (click)="onView(row.hyrf_id)"
                >
                    <mat-icon>image_search</mat-icon>
                </button>
            </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="project">
            <mat-header-cell
                *matHeaderCellDef
                mat-sort-header
            >Project Name</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.project}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="unitnumber">
            <mat-header-cell
                *matHeaderCellDef
                mat-sort-header
            >Unit</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.unitnumber}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="contractnumber">
            <mat-header-cell 
                *matHeaderCellDef
                mat-sort-header
            >Customer Name</mat-header-cell>
            <!-- <mat-cell *matCellDef="let element">{{ element.namestitle }} {{ element.firstname }} {{ element.firstname }}</mat-cell> -->
            <mat-cell *matCellDef="let element">{{ element.coownername }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="transferdateapprove">
            <mat-header-cell
                *matHeaderCellDef
                mat-sort-header
            >Transfer Date</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.transferdateapprove | date: 'dd/MM/yyyy' }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="remainingtotalamount">
            <mat-header-cell
                *matHeaderCellDef
                mat-sort-header
            >Refund Amount (Baht)</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.remainingtotalamount | number : '1.2-2' }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="doc_sent_status">
            <mat-header-cell
                *matHeaderCellDef
                mat-sort-header
            >Status</mat-header-cell>
            <mat-cell *matCellDef="let element">
                {{ element.doc_sent_status | tf01docstatus }}
                {{ element.ac02_due_date | date: ': เงินเข้าภายในวันที่ dd/MM/yy' }}
                <div *ngIf="element.ac02_appv_flag !== 'N'">หมายเหตุ : {{element.ac02_remarks}}</div>
                <div *ngIf="element.ac01_appv_flag !== 'N'&&element.ac02_appv_flag === 'N'">หมายเหตุ : {{element.ac01_remarks}}</div>
                <div *ngIf="element.tf02_appv_flag !== 'N'&&element.ac01_appv_flag === 'N'">หมายเหตุ : {{element.tf02_remarks}}</div>
                <div *ngIf="element.tf01_appv_flag !== 'N'&&element.tf02_appv_flag === 'N'">หมายเหตุ : {{element.tf01_remarks}}</div>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="doc_upload_btn">
            <mat-header-cell
                *matHeaderCellDef
                mat-sort-header
            >Upload Doc.</mat-header-cell>
            <mat-cell *matCellDef="let element">
                <button
                    mat-raised-button
                    (click)="uploadByid(element.hyrf_id, element.bankaccountname, element.bankaccountno, element.bankcode)"
                    class="btn btn-primary"
                    *ngIf="element.doc_sent_status != 'A'"
                    style="margin-left: 10px;"
                >Upload Doc.</button>
                <!-- <button mat-raised-button (click)="uploadByid(element.hyrf_id)" class="btn btn-primary">Upload Doc.</button> -->
            </mat-cell>
        </ng-container>
    </mat-table>
</div>
<div class="container col row justify-content-md-center">
        <!-- <picture>
            <img
            src="assets/images/kbank.png" 

            height="180px"/>
        </picture>

        <picture>
            <img src="assets/images/id_bb.png"

            height="180px"/>
        </picture> -->
</div>
<!-- Modified by Suchat S. 2019-12-14 for change upload by row -->
<!-- <div class="container col row justify-content-md-center">
    <form #myform2="ngForm" (ngSubmit)="upload(myform2)" class="form col-xl-6 text-xs-center"
        *ngIf="isValidate && isValidateUpload">
        <button mat-raised-button (click)="openUploadDialog()" class="btn btn-primary">Upload Doc.</button>
    </form>
</div> -->
<!-- <br /> -->
<!-- <div class="container col row justify-content-md-center">
<img src="assets/images/kbankcs.jpg" width="60%" height="60%" />
</div> -->
<app-footer></app-footer>